[2020-06-24 19:52] egernst commented on #2792
heads up @devimc @jcvenegas

[2020-06-25 05:10] amshinde commented on #2788
@LinShuicheng Yes, I was able to see this bug with shimv2.
shareProcessNamespace works with the cli runtime, but not with the shimv2 interface. Will take a look at this.

[2020-06-25 15:56] jcvenegas commented on #2792
Thanks for open the issue, so now given that  `sandbox_cgroup_only=true` additionally an annotation has to be given from the CRI runtime used?

Correct me if I am wrong but this is a consequence of the fragmentation on how Kata is expected to manage resources. PodLavel vs Container Level. Based on our previous checks, trying to do assumptions of how resources should be contain for a Pod makes diff

[2020-06-25 17:16] mcastelino commented on #2138
@stefanha @amshinde there seems to be another issue with virtiofs. When trying larger file sizes, which can be easily reproduced with fio. I think it needs a seperate bug, but tagging it here for now.

[code]
We cannot complete the layout of the file

fio will hang at ` Laying out IO file (1 file / 4096MiB)`

Increasing the virtiofs cache size does help. It is currently set to 4GB. Writing files s

[2020-06-25 18:43] evanfoster opened #2795 "Kata Pods with more than 5-6 containers fail to fully start under CRI-O when using runtime_type=vm"
# Description of problem

When deploying a pod with a large number of containers ([example repro case here](https://gist.github.com/evanfoster/bd52870ff71537bead1fb6f39f0e6f47)), several containers will fail to come up (in k8s, the state is `CreateContainerError`). This only happens when `runtime_type` is set to `vm` (which we need to improve virtio-fs performance). When these containers fail, we

[2020-06-25 18:53] likebreath opened #2796 "clh: add support to initrd"
We now do not support initrd w/ kata+cloud-hypervisor. While it is generally lower priority, we need an issue to track it.

[2020-06-25 18:53] jcvenegas opened #2797 "Summary virtiofsd known issues"
# Description of problem

This issue is a high-level summary of known issues.

Today two implementations use virtiofsd as shared file system:
- qemu-virtiofs
  master: only docker is tested http://jenkins.katacontainers.io/job/kata-containers-tests-ubuntu-18-04-virtiofs-PR/
  metrics: http://jenkins.katacontainers.io/job/kata-metrics-runtime-ubuntu-virtiofs-18-04-PR/

Coverage testing (List of tes

[2020-06-25 19:03] fidencio commented on #2797
/cc @dagrh

[2020-06-25 19:04] jcvenegas commented on #2797
/cc @mcastelino @amshinde @ganeshmaharaj @egernst

[2020-06-25 19:08] jcvenegas commented on #2797
/cc @sboeuf @likebreath

[2020-06-25 19:09] fidencio commented on #2797
@jcvenegas, virtiofs has been merged into QEMU 5.0.

[2020-06-25 20:22] jcvenegas opened #2798 "limitation: memory: using virtiofs ksm will not help to debug memory"
# Description of problem

When virtiofs is used the guest's memory is marked as shared memory.  This prevents ksm can try to merge pages.
[code]

[2020-06-25 20:24] jcvenegas opened #2799 "metrics ci: blong bench hangs using qemu + virtiofsd"
# Description of problem

Trying to enable virtiofs for qemu + virtiofsd  I found that jobs hangs.

# Expected result

blog bench works

# Actual result

The test hangs until the job is aborted
[code]

[2020-06-25 20:29] jcvenegas commented on #2797
@fidencio thanks I updated the issue with that information

[2020-06-25 20:36] devimc opened #2800 "vendor: update govmm"
update govmm to bring QMP fixes

[2020-06-26 07:23] #2800 closed

[2020-06-26 17:12] amshinde commented on #2788
@LinShuicheng PR https://github.com/kata-containers/runtime/pull/2794 raised to address this issue. Can you test the patch and confirm on your side?

[2020-06-26 19:45] egernst commented on #2792
There is no annotation from CRI to indicate K8S.

K8S is and should be the default configuration for Kata Containers. The prior PR breaks this. I would recommend creating a flag in toml for indicating that the runtime should manage cpu/mem group subsystems on the host. This would be set if folks want to constrain and are using Docker or Podman.

In any case - we should be careful not to break kata

[2020-06-26 20:50] amshinde opened #2802 "Support device passthrough for block devices"
We support passing block devices to Kata using virtio-blk or virtio-scsi. We should support device passthrough as well.

[2020-06-26 20:51] amshinde commented on #2802
@devimc Do you think you can take a look at this?

[2020-06-26 21:02] devimc commented on #2802
@amshinde I can but could you add more details?

[2020-06-27 00:27] likebreath opened #2803 "clh: remove the use of deprecated '--memory file=' parameter"
# Description of problem

Along with the recent release of cloud-hypervisor v0.8.0, the use of backing file, a.k.a "--memory file=" option, is deprecated and its alternative is using "shared" and "hugepages" controls (https://github.com/cloud-hypervisor/cloud-hypervisor/pull/1056). This is why we got the following "error" message from kata-runtime log:

[code]

[2020-06-28 00:12] LinShuicheng commented on #2788
@amshinde  Thanks. I verified your patch, it works in my environment.
Here is the results:
controller-0:~$ kubectl exec -it busybox sh
kubectl exec [POD] [COMMAND] is DEPRECATED and will be removed in a future version. Use kubectl kubectl exec [POD] -- [COMMAND] instead.
Defaulting container name to first-test-container.
Use 'kubectl describe pod/busybox -n default' to see all of the containers in

[2020-06-28 03:43] huoqifeng commented on #2015
Is it an option to create the qcow2 disk by CDI operator https://github.com/kubevirt/containerized-data-importer and then mount the qcow2 disk into Kata VM?

[2020-06-28 05:23] #930 closed

[2020-06-29 06:23] parthasl opened #2809 "Only 1 CPU is used even if more CPUs are available."
# Description of problem
Only 1 CPU is used even if more CPUs are available. Setup is k8s + cri-containerd + kata. Launched a kubernetes container with 4 CPU's, ran `stress --cpu 4 --timeout 60s` and expected all 4 CPU's to show usage percentage; but only 1 CPU shows 100%.

kubernetes resources definition:
`
    resources:
      requests:
        memory: "2Gi"
        cpu: "4"
      limits:

[2020-06-29 06:34] parthasl commented on #2809
When I set `default_vcpus = 4`, htop listed 8 cpus [ 4 k8s def + 4 default cpus]. Running `stress --cpu 4 --timeout 60s` shows usage for all 4 cpus.

[2020-06-29 08:26] #2483 closed

[2020-06-29 08:27] #2281 closed

[2020-06-29 14:05] #2774 closed

[2020-06-29 18:55] devimc commented on #2809
kata-containers-image-1.10.2-6.1.x86_64
kata-linux-container-4.19.86.60-7.1.x86_64

uhmm.. kata 1.11.1 and 1.10.2 ? could you [enable full debug](https://github.com/kata-containers/documentation/blob/master/Developer-Guide.md#enable-full-debug), try again with the latest stable (1.11.1) and run kata-collect-data.sh?

[2020-06-29 19:59] parthasl commented on #2809
**kata-collect-data.sh 1.11.1**
<details>
<summary>Show <tt>kata-collect-data.sh</tt> details</summary>
<p>

# Meta details

Running `kata-collect-data.sh` version `1.11.1 (commit 7b6f3b64873bbeed63f2f7937d83f1ed6ccd258a)` at `2020-06-29.19:41:25.653689313+0000`.

---

Runtime is `/usr/bin/kata-runtime`.

# `kata-env`

Output of "`/usr/bin/kata-runtime kata-env`":
[code]

---

# Runtime config fil

[2020-06-29 20:09] devimc commented on #2809
are you running kata-shimv2 ?

[2020-06-29 20:18] parthasl commented on #2809
yes

[2020-06-29 20:21] devimc commented on #2809
uhmm ok, that explains why I couldn't reproduce it with the CLI
@lifupan any thoughts ?

[2020-06-29 20:34] #2803 closed

[2020-06-30 15:24] #2354 closed

[2020-06-30 15:53] lifupan commented on #2809
It seemed I couldn't reproduce it.  I had tried to launch a pod with 4 cpus and then run stress with "--cpu 4", all of the cpus are fulled used as below:
![htop](https://user-images.githubusercontent.com/14800035/86147991-a33f2100-bb2c-11ea-8cd1-7dfa6fa84989.jpg)

[2020-06-30 16:00] devimc commented on #2809
@lifupan thanks.
@parthasl could you elaborate on this?
* what container are you using?
* Are you using pod overhead?
* Runtimeclass?
* the full yaml would be very helpful

[2020-06-30 16:12] lifupan commented on #2809
@parthasl

Have you set cpuset to your stress program? it seemed that all of the stress thread running on a single cpu.

[2020-06-30 17:19] parthasl commented on #2809
@devimc

Are you using pod overhead? No

**k8s version:**
[code]

**k8s runtime class:**
[code]

**k8s yaml:**
[code]

@lifupan No, used this `stress --cpu 4 --timeout 60s`. To confirm, default_vcpus is set to 1?

[2020-07-01 17:18] egernst opened #2811 "consider adding flag to constrain cpu/mem for non-k8s use cases"
**Which feature do you think can be improved?**

In Kubernetes, the sandbox is constrained for memory and CPUs by Kubelet. Utilizing RuntimeClass, this is setup to take the overhead of running a Kata based sandbox into account. As a result Kata does not constrain these cgroups.

For non-K8S use cases, it *may* be desirable to constrain on the host based on CPU/memory requests.  It would be up to t

[2020-07-01 17:55] egernst commented on #2160
@awprice  -- any updates/insights here?

[2020-07-01 19:36] RobertKrawitz commented on #2769
Is this specific to exec-based probes or do http probes also fail?  `oc rsh` into a Kata pod fails too (which is likely why this fails).

[2020-07-01 19:54] parthasl commented on #2809
@devimc @lifupan inside the container when I set the `cpuset.cpus 0-3` /sys/fs/cgroup/cpuset/cpuset.cpus, it uses CPUs properly. Earlier the value was 0 and it was using 1 CPU. May I know, how do I set it from k8s pod?

![image](https://user-images.githubusercontent.com/1620161/86285693-f00d1100-bb99-11ea-850d-3c33e4aaaed9.png)

[2020-07-02 01:06] Mierdin opened #2812 "k8s subPath is not supported by Kata"
# Description of problem

I have a use case where I would like to copy a subdirectory from the host into the pod. I've been doing this without Kata for quite a while successfully, using the tried-and-true method of running an initContainer that has both an emptyDir (rw) and a host-volume (ro) mounted, and basically running `cp -r` to copy from the read-only volume into the read-write emptyDir volu

[2020-07-02 03:03] flyflypeng commented on #2790
I think who use this log file who should process this log file(maybe should truncate it), so I recommend to do this modification in the containerd instead of kata-runtime.

I will close this issue.

[2020-07-02 03:03] #2790 closed

[2020-07-02 05:49] lifupan commented on #2809
@parthasl

It's weird, the cpuset.cpus shouldn't be 0, and it should be set 0-3 by default.

[2020-07-02 06:01] awprice commented on #2160
Apologies for the late reply @amshinde @egernst

Totally understand the preference to implement this in blkio cgroups vs hypervisor specific - this definitely sounds like the more future-proof plan.

This was due to the settings I chose - I simply throttled IOPs, but not bytes per second. Throttling IOPs + bps gave us the desired throttling on all processes inside the guest, including `stress`. Se

[2020-07-02 06:06] lifupan commented on #2809
Yes, default_vcpus is set to 1 and my pod yaml as below:

apiVersion: v1
kind: Pod
metadata:
  name: fupan-kata
spec:
  runtimeClassName: kata
  containers:
  - name: fupancount
    image: ubuntu
    resources:
        limits:
            cpu: "4"
        requests:
            cpu: "4"

[2020-07-02 06:49] wilsonwang371 commented on #571
what is the current status of this bug now?

[2020-07-02 16:41] parthasl commented on #2809
Thanks @lifupan, am I missing any configuration? https://github.com/kata-containers/runtime/issues/2809#issuecomment-651327965

[2020-07-02 19:49] fidencio commented on #2719
Turns out this seems to be an issue on CRI-O. I'm sending them a PR and I'd appreciate if you could give it a try to ensure it does solve your issue.

[2020-07-02 22:42] ganeshmaharaj opened #2813 "virtiofsd crashes on kata container exit in k8s environment"
# Description of problem
Virtiofsd crashes on exit after running a heavy disk IO workload.
configuration: kata(1.11.1)+qemu+virtiofsd

# Expected result
virtiofsd on host exits cleanly without coredumps.

# Actual result

systemd output from the crash https://gist.github.com/ganeshmaharaj/6881372fadda2e84951c71cd6667e35c

<details>
<summary>Show <tt>kata-collect-data.sh</tt> details</summary>
<p>

[2020-07-02 22:42] ganeshmaharaj commented on #2813
@amshinde @jcvenegas

[2020-07-02 23:02] ganeshmaharaj opened #2814 "Cloud hypervisor + kata does not start when using high CPU & memory config"
# Description of problem
Creating a kata+clh k8s pod with huge amounts of CPU(>32 cores) and memory (>128GB) will always fail and the container will never start.  @jcvenegas  was able to reproduce this issue with Kata 1.11.1 and CLH 0.7
https://gist.github.com/jcvenegas/465be230a85b1800e23b4d7dda1d7add#file-guest-logs

# Expected result
Kata + CLH can run VMs with large number of cores and memory

[2020-07-02 23:03] ganeshmaharaj commented on #2814
@jcvenegas @amshinde @likebreath

[2020-07-03 00:18] ganeshmaharaj opened #2815 "Virtiofs performance issue with huge files"
# Description of problem
virtiofs seems to have a huge performance impact against 9p when testing fio with huge files.

# Expected result
There is no performance impact when testing with huge files.

# Actual result
Logs from the various scenarios running fio with the below config
`fio --randrepeat=1 --ioengine=libaio --direct=1 --gtod_reduce=1 --name=test --filename=random_read_write.fio --bs=4k

[2020-07-03 00:19] ganeshmaharaj commented on #2815
@jcvenegas @amshinde

[2020-07-04 16:14] chris13524 commented on #1473
Can't this runtime just plug into [QEMU's checkpointing feature](https://wiki.qemu.org/Features/MicroCheckpointing)?

Also noting that this issue appears to be a duplicate of #184

[2020-07-06 14:59] devimc commented on #1473
@chris13524 yeah, QEMU micro checkpoints looks good, [CRIU](https://criu.org/Main_Page) should work too, maybe we can support both and let user choose the best

[2020-07-06 16:24] fidencio commented on #2795
Evan, I'll try to reproduce your issue and at some point Tomorrow.

I'd just like to mention that:

1. It looks like a legit issue and it's weird to happen only with the VM runtime type;
2. VM runtime type is what you should be using anyways, as using shimv2 is the general direction of the kata project;
3. /cc @dagrh, for inputs on the QEMU side of the things;
4. Not sure how related to this it ca

[2020-07-06 18:35] #2788 closed

[2020-07-06 19:41] evanfoster commented on #2795
I upgraded Kata to 1.11.2. I'm still getting the same failure, but I *did* get some extra information out of the logs:
[code]

[2020-07-06 20:21] skaegi commented on #2789
To be clear, this is a "**regression**" between Kata 1.11.0 and 1.11.1.  I do not believe this is a problem with virtio-fs.

[2020-07-07 07:58] Jason-ZW commented on #2789
@skaegi I have the same problem.
[code]

[code]

[2020-07-07 10:13] Jason-ZW commented on #2789
I found the problem. I built the image with the wrong `AGENT_VERSION`

[2020-07-07 19:10] amshinde commented on #2789
@skaegi I have been able to reproduce your issue. I did a git bisect accross repos and saw that this commit is causing the issue:
https://github.com/kata-containers/agent/commit/a88af321f7c591404b0316320c46591fa8250992

Let me see how we can fix this.

[2020-07-07 19:54] evanfoster opened #2816 "Sandbox mounts aren't being cleaned up when containers fail to start"
# Description of problem

When using the same setup as #2795, I found that sandbox mounts weren't being cleaned up, leading to a massive number of mountpoints (20,000 mounts in ~2 hours). For example:
[code]

I tested with @fidencio 's fix for #2719 (https://github.com/cri-o/cri-o/pull/3924) but continued to have the same issue.

I'm not 100% sure, but I believe this is only an issue for container

[2020-07-07 20:26] devimc commented on #2795
@evanfoster Could you try with small chunks of memory? the next yaml works for me and it's based on your example but with small chunks of memory

[code]

[2020-07-07 21:01] amshinde commented on #2789
The commit https://github.com/kata-containers/agent/commit/a88af321f7c591404b0316320c46591fa8250992 restricts access of the container to the VM rootfs devices, whereas docker running in the container should write to the container's `/sys/fs/cgroup`.
I am not sure why the container would need access to the VM rootfs device.
@devimc @bergwolf Any idea?

[2020-07-07 21:22] evanfoster commented on #2795
No joy, unfortunately. I set `hypervisor.qemu.memory_slots` to 15, applied the above YAML (after changing the `runtimeClassName` and `nodeSelector`), but the resulting pod still fails to come all the way up. It's failing with `CreateContainerError`. Here's what I see in the logs:
[code]

[2020-07-07 21:27] skaegi commented on #2789
Awesome thanks @amshinde that makes sense. FWIW I tried 1.11.2 and have the same problem.

[2020-07-08 05:41] amshinde commented on #2789
@skaegi Changing that patch to below fixes the issue:
[code]
From the error it looks like docker needs "m" access for block devices ie ability to create device nodes for block devices.
I am not entirely sure why the nested docker container needs this, the config.json does not contain any such device cgroup entry, so not entirely sure why libcontainer tried to add the devices.allow entry for block

[2020-07-08 13:04] devimc commented on #2789
@amshinde I'm using the latest version of kata-agent, I started a debug console to check the device cgroup of a container, the problem is that I don't see any device constraint, could you check that?

[code]

[2020-07-08 15:11] skaegi commented on #2789
Thanks @amshinde I'll rebuild and try that patch.

[2020-07-08 17:08] amshinde commented on #2789
@devimc Thats strange, I do have a test that checks whether you can read/write/mknod to the rootfs and I do see the desired behaviour when I toggle the device cgroup. Let me create a debug image and check.
I am not sure about the devices.list, but I think you atleast should see entry under devices.allow.

[2020-07-08 17:12] devimc commented on #2789
@amshinde

[code]

[2020-07-08 17:40] evanfoster commented on #2795
I realized I wasn't capturing debug logs in my original post. [This gist](https://gist.github.com/evanfoster/6983b668ca05e105445d2c66147c5bd4) has the output of `journalctl -t kata -f` from the moment my repro-case pod was created to when k8s reported the pod as stuck in `CreateContainerError`.

[2020-07-08 18:23] devimc commented on #2795
@evanfoster thanks, that's a good log!,  could you resize `/dev/shm` and try again?

[code]

[2020-07-08 18:26] devimc commented on #2795
@evanfoster make sure `/dev/shm` was resized. `df -h | grep "/dev/shm"`

[2020-07-08 18:30] evanfoster commented on #2795
No joy again, unfortunately.
[code]

Here are the logs from this attempt: https://gist.github.com/evanfoster/12a3c8c4fe41068a50fc764c6816df84

[2020-07-08 18:36] skaegi commented on #2789
fwiw I fail the same way with 1.12.0-alpha0

[2020-07-08 19:55] dagrh commented on #2795
'a used vhost backend has no free memory slots left'
oh that's fun.
vhost_user has a limit on the number of memory devices that the virtual devices can map;  it used to be quite small (8?) - it's VERY recently been made configurable in qemu (see qemu 6b0eff1 that went in a few weeks ago).
I'm guessing Kata is hotplugging a DIMM for each container in the pod and hitting this limit.
I've not looked

[2020-07-08 20:46] amshinde commented on #2795
@evanfoster Curious if you were able to try this out with containerd.

[2020-07-08 21:50] amshinde commented on #2789
yes, 1.12.0-alpha0 would fail as well.
Let me know if that patch works for you. I tried it at my end and don't see the error any more.
For some reason, docker adds permissions to create device nodes for all block devices which conflicts with the approach taken by us to restrict all permission to the rootfs block device.

Will be adding an integration test for this to make sure we dont break in the

[2020-07-08 21:55] evanfoster commented on #2795
@amshinde I haven't done so yet. The nodes I'm testing on have containerd, but all of the plumbing is set up to use CRI-O. I'll see if I can give that a whirl, but it may take me a bit.

@dagrh I'm guessing I'd also want `b650d5f`, right? If so, then I might try to build and test that.

[2020-07-08 22:10] amshinde commented on #2795
@evanfoster Just gave this is a shot with containerd (reducing cpu limits due to a smaller machine). I got the the error you were seeing initially - not enough memory slots. I then increased `hypervisor.qemu.memory_slots` to 15. I could see all the 10  containers in the pod come up. This was with 9p, I'll try with virtiofs next. Will also try to setup crio next.

[2020-07-08 22:46] egernst opened #2818 "systemd cgroup paths not being handled correctly"
# Description of problem

We currently fail to support systemd managed cgroups on the host (at least when sandbox cgroups only is utilized). We should auto-detect the cgroup manager being used on the system, and properly create sandbox cgroup accordingly.

We should be able to detect based on the format of the path being provided.

# Expected result

A cgroup created under the system.slice for the

[2020-07-08 23:02] egernst commented on #2818
/cc @amshinde @devimc @jcvenegas

[2020-07-08 23:17] amshinde commented on #2795
@evanfoster I confirm I can see the `a used vhost backend has no free memory slots left` error with virtiofs inspite of increasing the memory slots in kata configuration.toml.
@dagrh I suppose this is the commit that would possibly fix this: https://github.com/qemu/qemu/commit/6b0eff1

[2020-07-09 01:11] LinshanYu opened #2819 "kata-runtime not support"
# Description of problem

Integrate kata into k8s failed ：Open crio on mgt01 (master0), then kubectl get runtimeclass can see kata-runtime; at this time I create a pod who's runtimeclassname is kataruntime, and nodename is mgt01，  describe pod: Failed create pod sandbox: rpc error: code = Unknown desc = RuntimeHandler "kata-runtime" not supported.
apiVersion: v1
kind: Pod
metadata:
  name: kata-po

[2020-07-09 01:29] amshinde commented on #2795
@dagrh @fidencio I tried building qemu from master, but I am seeing errors
`qemu-virtiofs-system-x86_64: -device vhost-user-fs-pci,chardev=char-d49
e522a102c2b68,tag=kataShared,cache-size=1024M,romfile=: Property '.cache-size`. Looks like some virtiofs properties have been deprecated.

@fidencio This ties into my previous request for moving to qemu 5.0 for virtiofs and having kata-runtime work wit

[2020-07-09 02:22] skaegi commented on #2789
Thanks @amshinde -- I can confirm your patch works.
I created my own build for our environment with and without your patch on top of 1.12.0-alpha0 and it worked with your patch and failed as above without it.

[2020-07-09 16:58] evanfoster commented on #2795
Ah, it looks like pods started with `9p` and `qemu-system-x86_64`. I think that my previous testing was being skewed by #2816. The issue appears to be with `virtio-fs` only.

[2020-07-10 01:40] Kvasscn opened #2821 "How to specify cold plug flag for vfio device when kata start"
I found that in the changlog of kata runtime already  supported  coldplug device， refer to the links below:
https://github.com/kata-containers/runtime/commit/970ef454c2e508912d036bf8bdf8c3359e55e387
But no documentation describe  how to specify the clod pulg flag  in command line when kata starts, anybody know how to do that?

[2020-07-10 02:09] jongwu commented on #2798
Hello @jcvenegas @bergwolf , I have found this issue half a year ago and talked with virtio-fs guys, see https://gitlab.com/virtio-fs/qemu/-/issues/16.
For now, I worry about another thing. kata need set all its memory page to be shared to communicate with virtiofsd which may lead to secure issue. Think about that lots of kata run on a machine, occupy all its memory and set it all to be shared. At

[2020-07-10 03:44] yadzhang commented on #1451
The same issue that kata logs flood into kern.log, I didn't find any docs for config kata log path, there is any suggestions?

[2020-07-10 22:11] sameo opened #2822 "Kata tries to use the QAT control device as a vhost-user block device"
# Description of problem

On the test machine:

[code]

And here is the error:

[code]

This is due to the fact that we're using 241 as the major for our emulated vhost-user-block devices, and `qat_dev_ctl` happens to be using the same major.

# Expected result

We should be able to run privileged containers even if the machine comes with QAT installed

# Actual result

kata-runtime fails with the

[2020-07-11 18:08] amshinde commented on #2799
@jcvenegas @GabyCT Can you add logs here ?

[2020-07-12 09:08] free2k opened #2824 "containerd-shim-kata-v2 debug option cannot be opened"
**Is your feature request related to a problem? Please describe.**

When I use containerd-shim-kata-v2, the debug option cannot be opened

**Describe the solution you'd like**

containerd-shim-kata-v2 can open debug options

**Describe alternatives you've considered**

Modify the default value of debug flag to true
![image](https://user-images.githubusercontent.com/14852402/87242764-3f88f200-c462-

[2020-07-12 09:28] fidencio commented on #2824
I don't fully understand the request. If you pass "-debug" to the containder-shim-kata-v2 binary it just works. Mind that configuring it depends on the what's calling the binary and for a better explanation, check: https://github.com/fidencio/kata-documentation/blob/wip/shimv2-and-crio/Developer-Guide.md#debug-logs-and-shimv2

If you're talking about having different log levels traced, other than

[2020-07-12 10:05] free2k commented on #2824
Thanks, your answer solved my problem

[2020-07-12 10:10] #2824 closed

[2020-07-12 11:14] free2k opened #2825 "Can't create kata container with 16G memory"
# Description of problem

containerd-shim-kata-v2 Unable to create 16 kata container, error message

But I can create kata with 8G or below memory

# Expected result

Can create 16G kata container

# Actual result

`<details>
<summary>Show <tt>kata-collect-data.sh</tt> details</summary>
<p>

# Meta details

Running `kata-collect-data.sh` version `1.10.1 (commit )` at `2020-07-12.19:06:49.467408596

[2020-07-13 09:22] liubin commented on #2819
Hi @LinshanYu , can you share with us  the output of `kubectl get runtimeclass -o yaml` ?

[2020-07-13 09:58] liubin commented on #2825
hi @free2k , how many memory dos your host has ?

And what's command did you use to create the container, and can you share the full log around the time error occurred?

[2020-07-13 13:01] skaegi commented on #2789
@amshinde this all works well for me now. I have the luxury of my own build environment so can do the patching myself but it might be a good idea to check a fix in for 1.12/master and probably for stable-1.11 too as anyone else trying this out for the first-time will fail.

[2020-07-13 14:35] GabyCT commented on #2799
@amshinde the logs of virtiofs are here https://github.com/kata-containers/tests/issues/2717

[2020-07-13 15:36] rhvgoyal commented on #2770
In general, I don't think we right now allow modifications on host while virtiofs is mounted.

[2020-07-13 15:45] rhvgoyal commented on #2770
If cache=none fixes it, we should clsoe this issue. cache=always will not work because host and guest metadata will get out of sync and we don't have any notification mechanism yet to notify guest.

[2020-07-13 15:59] evanfoster commented on #2795
Is there any way I can be of assistance? I'm happy to help out however I can.

[2020-07-13 17:14] evanfoster commented on #2816
I did a run with full debug logs and got some better information.
[code]

I'll do some more poking around and see what I find.

[2020-07-13 18:10] evanfoster commented on #2816
Well, I found the problem.

This function is being called: https://github.com/kata-containers/runtime/blob/a885b1bbf9069f8cfe10b21ba4314f5ef430b29a/virtcontainers/sandbox.go#L1137-L1190

Container creation is failing at
[code]
and the deferred function is calling `removeContainer`:
[code]

Unfortunately, `removeContainer` doesn't actually do any cleanup on the system itself: https://github.com/kat

[2020-07-13 18:34] evanfoster commented on #2816
I was able to stop leaks from happening by modifying the deferred function in `CreateContainer`:
[code]

[2020-07-13 18:40] fidencio commented on #2816
@evanfoster, amazing! Please, open us a pull request and I'll review and have the patch backported to the correct branches!

[2020-07-13 18:43] evanfoster commented on #2816
Can do! Quick question, however. Should I be setting `force` to `true` when I call `c.stop` in this case? Not sure what the general feeling is for things like that.

[2020-07-13 18:50] fidencio commented on #2816
Yes, IMHO, we do should force it. @devimc, what do you think?

[2020-07-13 20:42] amshinde commented on #2814
@chavafg We need to add a test for this. Test both qemu and clh with large CPUs and memory config. I dont think the VMs we get from Azure will be adequate for this.

[2020-07-13 20:47] cmaf opened #2827 "Increase unit test coverage for virtcontainers"
There are gaps in unit test coverage for virtcontainers/types/bridges. Expand unit test to include coverage for `NewBridge` and `AddressFormat...` functions.

[2020-07-13 20:54] chavafg commented on #2814
@amshinde agree, could this run on nightly basis? If so, we could use baremetal from aws.

[2020-07-13 21:34] rhvgoyal commented on #2815
@ganeshmaharaj I have tried this in a VM and my observations are as follows.

- I am not seeing the slowdown you are seeing. In fact cache=none is fastest with virtiofs. cache=always slows it down surprisingly. I am not sure why. Will have to debug. Even dax seems to slow it down. Part of the reason is that it is random IO and part of it is that this is old dax code base and some of the locking im

[2020-07-13 21:36] rhvgoyal commented on #2815
I might have pasted 9p, cache=loose numbers wrong previously. This one should be correct.

9p, cache=loose
----------------------

3070MiB (3219MB), run=78471-78471msec
  WRITE: bw=13.1MiB/s (13.7MB/s), 13.1MiB/s-13.1MiB/s (13.7MB/s-13.7MB/s), io=
1026MiB (1076MB), run=78471-78471msec

[2020-07-14 00:22] amshinde commented on #2788
@GabyCT Looks like the test we have in place for this itself is buggy:
https://github.com/kata-containers/tests/blob/745a730fdcb59d96cceb116e2dbc26bdec2cfc82/integration/kubernetes/k8s-pid-ns.bats#L31
We check for `[ "$first_pid_container" == "$second_pid_container" ]`, but we need to also add a check to verify that `first_pid_container` and `second_pid_container` are not empty.

[2020-07-14 00:31] eadamsintel commented on #2770
@rhvgoyal

Is this documented somewhere that cache should be set to none? Perhaps just referring to that makes sense.

[2020-07-14 00:48] LinshanYu commented on #2819
apiVersion: node.k8s.io/v1beta1
handler: kata-runtime
kind: RuntimeClass
metadata:
  annotations:
    kubectl.kubernetes.io/last-applied-configuration: |
      {"apiVersion":"node.k8s.io/v1beta1","handler":"kata-runtime","kind":"RuntimeClass","metadata":{"annotations":{},"name":"kata-runtime"}}
  creationTimestamp: "2020-07-08T02:04:11Z"
  name: kata-runtime
  resourceVersion: "76742223"
  selfLin

[2020-07-14 01:08] amshinde commented on #2795
@evanfoster We need to port qemu to 5.0 with any upstream changes required.
@dagrh Is taking a look at this at the moment.

[2020-07-14 01:35] liubin commented on #2819
Hi @LinshanYu ,  how did you setup your K8s cluster? Did you referenced https://github.com/kata-containers/documentation/tree/master/how-to#kubernetes-integration .

You should also configure containerd or cri-o to run Kata containers.

[2020-07-14 10:14] dagrh commented on #2795
I can trigger the same error on qemu 4.2 (without kata) by adding:
-object memory-backend-memfd,id=mem1,size=256M,share=on -device pc-dimm,id=dimm1,memdev=mem1
-object memory-backend-memfd,id=mem2,size=256M,share=on -device pc-dimm,id=dimm2,memdev=mem2
-object memory-backend-memfd,id=mem3,size=256M,share=on -device pc-dimm,id=dimm3,memdev=mem3
-object memory-backend-memfd,id=mem4,size=256M,share=o

[2020-07-14 14:14] GabyCT commented on #2788
@amshinde , let me re-work that test

[2020-07-14 20:20] gkunz opened #2829 "virtiofsd crashes on Ubuntu 16.04 due to failing seccomp_init"
# Description of problem

I have been trying to run a simple test container with Kata and CLH on Ubuntu 16.04.6 LTS. Kata has been deployed using the kata-deploy daemonset.

Problem: The pod remains in ContainerCreating state indefinitely, due to a crashing virtiofsd.

The test pod definition looks like this

[code]

virtiofsd crashes on Ubuntu 16.04.6 LTS due to failing seccomp_init syscalls.

#

[2020-07-14 20:23] gkunz commented on #2829
/cc @dagrh

[2020-07-14 22:02] rhvgoyal commented on #2815
@ganeshmaharaj are you running virtiofsd with xattr enabled (-o xattr). I removed that and even with cache=always now I am getting around 250MB/s with random writes.

I narrowed it down further and looks like primary slowdown is with cache=always and randwrite only. randreads are just fine. And lot of this slowdown seems to be coming from call file_remove_privs(). It is resulting in lot of getxatt

[2020-07-15 00:47] huoqifeng opened #2830 "Support IOMMU_PLATFORM in qemu when launch the kata PodSandbox for s390x virtio devices"
**Which feature do you think can be improved?**

When create a kata Pod, I want to pass `iommu_platform=on` for supported device in qemu, so that I can take advantage of the IOMMU feature. Details of IOMMU can be found in https://wiki.qemu.org/Features/VT-d

**How can it be improved?**

I'd like to add a new annotation like `EnableDeviceIOMMU = kataAnnotHypervisorPrefix + "enable_device_iommu"` an

[2020-07-15 14:52] c3d commented on #2829
The way I see it, we have to somewhat distinct issues here:
* virtiofsd crashing, which you tracked down to missing syscall
* the respawn behavior and lack of error reporting.

Would you mind opening another issue for the second one?

[2020-07-15 15:12] dagrh commented on #2829
My bet is it's missing SCMP_ACT_KILL_PROCESS in the kernel but not the build env.
Our current setup_seccomp has:
#ifdef SCMP_ACT_KILL_PROCESS
    ctx = seccomp_init(SCMP_ACT_KILL_PROCESS);
    /* Handle a newer libseccomp but an older kernel */
    if (!ctx && errno == EOPNOTSUPP) {
        ctx = seccomp_init(SCMP_ACT_TRAP);
    }
#else
    ctx = seccomp_init(SCMP_ACT_TRAP);
#endif
    if (!ctx) {

[2020-07-15 15:40] gkunz commented on #2829
@c3d yes, you are right. I'll create a separate issue for the respawn behavior.

[2020-07-15 16:16] dagrh commented on #2795
I've just created a branch based off qemu 5.0 but with the extra slot stuff and our dax code;
https://gitlab.com/virtio-fs/qemu/-/tree/qemu5.0-virtiofs-dax

please try and let me know if that fixes it.

[2020-07-15 17:21] dagrh commented on #2829
@gkunz It would be great if you could try https://gitlab.com/virtio-fs/qemu/-/tree/qemu5.0-virtiofs-dax  to see if it fixed it for you.

[2020-07-15 18:47] evanfoster commented on #2795
It works! I'm seeing a pod with 11 containers fully start.

[2020-07-15 18:56] dagrh commented on #2795
Excellent! - @amshinde what do you want us to do here, do you want to hold this open until kata updates the qemu version?

[2020-07-16 02:38] likebreath opened #2832 "clh: Add support to unplug block devices"
We are now missing the capability to unplug any devices in kata when using cloud-hypervisor. Enabling the support to unplug block device can be the first step. It is also the root cause of the failure observed from CRI-O CI on kata+clh (https://github.com/kata-containers/tests/pull/2621).

[2020-07-16 06:47] Lhmily opened #2834 "module error in go.mod"
# Description of problem

(replace this text with the list of steps you followed)
![image](https://user-images.githubusercontent.com/7400628/87636250-0eb30080-c773-11ea-8b5e-e07de863c773.png)
![image](https://user-images.githubusercontent.com/7400628/87636327-2b4f3880-c773-11ea-8817-bad09fb211c4.png)

# Expected result
module github.com/kata-containers/runtime/virtcontainers/pkg/cloud-hypervisor/c

[2020-07-16 07:42] free2k commented on #2825
`Jul 16 11:53:27 gh-hulk-k8s-ep-dev03.mt kata[112138]: time="2020-07-16T11:53:27.835043612+08:00" level=debug msg="reading guest console" ID=5acc5b0cf910ab0401c88d380b03214190eb06bfcce027d9873aad3d68194940 sandbox=5acc5b0cf910ab0401c88d380b03214190eb06bfcce027d9873aad3d68194940 source=virtcontainers subsystem=kata_agent vmconsole="[    1.584404] acpi PNP0C80:01: acpi_memory_enable_device() error"

[2020-07-16 07:45] free2k commented on #2825
`Jul 16 11:53:27 gh-hulk-k8s-ep-dev03.mt kata[112138]: time="2020-07-16T11:53:27.835043612+08:00" level=debug msg="reading guest console" ID=5acc5b0cf910ab0401c88d380b03214190eb06bfcce027d9873aad3d68194940 sandbox=5acc5b0cf910ab0401c88d380b03214190eb06bfcce027d9873aad3d68194940 source=virtcontainers subsystem=kata_agent vmconsole="[    1.584404] acpi PNP0C80:01: acpi_memory_enable_device() error"

[2020-07-16 08:10] free2k commented on #2825
The machine is 377G memory, I can create a kata of 16G memory, but can not create 64G. The remaining memory is 360G. So it’s not a problem of insufficient memory

[2020-07-16 08:11] free2k commented on #2825
/usr/bin/qemu-vanilla-system-x86_64 -name sandbox-ae5a3336c86699b192d15eb6e451775dd4546d8b87e08315b8af31a080e41308 -uuid 93109402-e943-47cc-a2e0-8d6d12cbd670 -machine pc,accel=kvm,kernel_irqchip,nvdimm -cpu host -qmp unix:/run/vc/vm/ae5a3336c86699b192d15eb6e451775dd4546d8b87e08315b8af31a080e41308/qmp.sock,server,nowait -m 1024M,slots=10,maxmem=387711M -device pci-bridge,bus=pci.0,id=pci-bridge-0,c

[2020-07-16 08:49] liubin commented on #2825
Hi @free2k , can you try set `default_memory` to a larger value, for example `2G` and test again?

[2020-07-16 08:55] gkunz commented on #2829
@dagrh: ok, I'll give that a try and report back.

As I was intending to run workloads on cloud-hypervisor, I came across the cloud-hypervisor documentation regarding virtiofsd [1]. I eventually used the code of the "private" repo listed there to build virtiofsd locally and this worked - after making sure that the CLI options Kata uses for virtiofsd are compatible with this version of virtiofsd...

[2020-07-16 12:50] free2k commented on #2825
Yes, when I increase `default_memory`, I can create 16G of memory, but I still cannot create 128G or more memory

[2020-07-16 16:00] amshinde commented on #2795
Thanks @dagrh for creating the branch. Yes, lets keep this open, until we move to the branch. I'll close this once move to that branch is complete.

[2020-07-16 16:54] #2792 closed

[2020-07-16 20:08] #2822 closed

[2020-07-16 20:33] #2816 closed

[2020-07-16 20:45] rhvgoyal commented on #2815
I have proposed a patch upstream.

https://lore.kernel.org/linux-fsdevel/20200716144032.GC422759@redhat.com/

[2020-07-17 08:27] free2k commented on #2825
CONFIG_MEMORY_HOTPLUG_DEFAULT_ONLINE This config option has been opened，There is enough remaining memory to ensure successful hotplug.It should be related to the kernel

[2020-07-17 18:10] #2827 closed

[2020-07-17 22:32] cmaf opened #2835 "Increase unit test coverage for virtcontainers/types/asset.go"
Duplicate of [424](https://github.com/kata-containers/kata-containers/issues/424) in kata-containers/kata-containers.

[2020-07-17 23:19] amshinde commented on #2789
@skaegi Was away for a few days. I have now raised a PR to address this. Will backbort to stable as well.
https://github.com/kata-containers/agent/pull/807

[2020-07-18 01:19] cmaf opened #2837 "Increase unit test coverage for virtcontainers/types/capabilities.go"
Coverage for virtcontainers/types/capabilities.go can be increased to 100% by adding test checking multiqueue support functions.

[2020-07-18 01:20] cmaf commented on #2837
Closing, issue should have been opened in kata-containers/kata-containers

[2020-07-18 01:20] #2837 closed

[2020-07-20 11:13] gkunz commented on #2829
@dagrh One issue I immediately ran into when using the repo and branch you mentioned is a mismatch between the command line options expected by virtiofsd and the command line options used by the stable release of Kata I am getting with the kata-deploy daemonset (v1.11.1): the kata runtime still uses the "-o vhost_user_socket" option while virtiofsd has dropped this option [1]. However, this seems

[2020-07-21 03:10] liudalibj opened #2841 "Disable some kubectl commands in kata-runtime for security reason."
**Is your feature request related to a problem? Please describe.**

After we setup kata with kubernetes, end user can use some kubectl commands to communicate with container.
such as:
kubectl exec
kubectl cp
kubectl attach

With these commands end user can go into your running container, get application details of your container, or can copy the files from you container out.

From a security persp

[2020-07-21 18:32] devimc commented on #2821
VFIO cold plug is only supported when the network endpoint is a physical endpoint (VFIO / SPDK), the rest of VFIO devices are hotplugged, there is no way to change this behaviour, what issue are you facing? why do you want to coldplug VFIO devices ?

[2020-07-21 22:12] jcvenegas opened #2842 "versions: virtiofs: Move to kernel kata-v5.6-april-09-2020"
# Description of problem

Move to kata-v5.6-april-09-2020 tag,  versions is pointing to a dev branch that
changed recently and now is broken trying to apply patches.

[2020-07-21 23:30] cmaf opened #2844 "Increase unit test coverage for virtcontainers/types/capabilities.go"
Coverage for virtcontainers/types/capabilities.go can be increased to 100% by adding test checking multiqueue support functions.

1.x duplicate of [#428](https://github.com/kata-containers/kata-containers/issues/428)

[2020-07-22 01:00] amshinde commented on #2841
@liudalibj This is something that should be handled at the kubernetes level and not by Kata. You can take a look at RBAC roles and policies https://kubernetes.io/docs/reference/access-authn-authz/rbac/

[2020-07-22 01:01] #2841 closed

[2020-07-22 02:34] liudalibj commented on #2841
Thanks your comments @devimc @amshinde I will study the related documents to see if they can meet my requirement.

[2020-07-22 19:02] #2842 closed

[2020-07-22 20:04] likebreath opened #2846 "clh: Add support of macvtap"
**Which feature do you think can be improved?**

As reported by @egernst, our current cloud-hypervisor driver in kata does not support `internetworking_model="macvtap"`. With this option enabled, we will have the following error: `docker: Error response from daemon: OCI runtime create failed: error: 500  reason: VmBoot(VmBoot(DeviceManager(CreateVirtioNet(OpenTap(TapOpen(ConfigureTap(Os { code: 22

[2020-07-22 20:04] likebreath commented on #2846
/cc @jcvenegas @amshinde

[2020-07-23 04:44] jcvenegas opened #2848 "versions: Move qemu-experimental to qemu-virtiofs based on 5.0"
# Description of problem

There is a new branch for qemu virtiofs based on 5.0, kata CI should upgrade.

[2020-07-23 21:07] likebreath commented on #2846
With inputs from @sboeuf, it looks like we may also miss the functionality from cloud-hypervisor (clh) to support macvtap (https://github.com/cloud-hypervisor/cloud-hypervisor/issues/872), on top of missing bits from the clh dirver in Kata.

As mentioned by both @sboeuf and @amshinde, we need to clarify the potential benefits of supporting `macvtap` and see whether it aligns with the target for bo

[2020-07-23 23:47] cmaf opened #2852 "Some sandbox unit tests should be in a different directory"
The unit tests for virtcontainers/types/sandbox.go are in the parent directory instead of in virtcontainers/types, making it appear as if there is no coverage for functions in sandbox. Move tests related to `Socket`, `Volume`, and `SandboxState` to `types` directory.

Issue for 2.x is [#435](https://github.com/kata-containers/kata-containers/issues/435)

[2020-07-24 00:01] #2809 closed

[2020-07-24 00:02] parthasl opened #2854 "systemctl errors - Failed to get D-Bus connection: Operation not permitted"
# Description of problem

We have a kitchen test which does` /usr/bin/systemctl --system start crond` but it errors with Failed to get D-Bus connection: Operation not permitted. Containers are run in privileged mode.

# Expected result

Expecting it to work without any errors.

# Actual result

**kata-collect-data.sh 1.11.1**
<details>
<summary>Show <tt>kata-collect-data.sh</tt> details</summary>

[2020-07-24 05:22] sboeuf commented on #2846
First question, what's the benefit (if any) of using `macvtap` over `tcfilter`?

[2020-07-24 12:10] robbmue commented on #1050
Did you fix this by now? Which OS are you on?

[2020-07-24 13:31] jcvenegas opened #2855 "cloud-hypervisor: Faild to create VM using latest virtiofsd (5.0 rease)"
# Description of problem

The PR #2840 upgrades qemu-virtiofs 5.0, on the upgrade kata fails to boot a container
looking to the logs.

[code]

We should identify what version virtiofsd is recommended for cloud-hyervisor and manage from in a different place. Or make work both qemu and cloud-hypervisor with the same version.

\cc @sboeuf

[2020-07-24 13:38] jcvenegas commented on #2855
Cloud hypervisor seems to be using a virtiofsd based in `4.0.94`  https://github.com/sboeuf/qemu/blob/master/VERSION . The error mesasge is is not clear what is the message I got.   I will try to add a few extra logs to cloud-hypervisor. I only see

[code]

[2020-07-24 13:52] jcvenegas commented on #2855
@dagrh could you point if there are additional changes that also requried changes on qemu to keep working with the new virtiofsd ?

[2020-07-24 17:15] sboeuf commented on #2855
@jcvenegas there are multiple issues with this new version of `virtiofsd` that I just identified while testing it with `Cloud-Hypervisor`.
First, we are missing the full list of supported protocol features, which is solved with this PR: https://github.com/cloud-hypervisor/vhost/pull/21
And second, after the VM is booted and the filesystem mounted, the daemon crashes while trying to read from a fil

[2020-07-24 17:31] dagrh commented on #2855
@sboeuf Not that I know of; I know it added support for the newer vhost protocol that allows more than 8 slots; but in theory it should just fall back.
If I'm reading that strace right, isn't that the CH side closing the socket?

[2020-07-24 17:56] dagrh commented on #2855
@sboef You could try this with a vanilla 5.0 qemu and see if it works;  in my world I have the 5.0 stuff + the new vhost-user feature for the added slots (which I opened a cloud-hypervisor feature to add) - but it should be falling back; so lets see if you take that out what happens, it seems the most likely change.

[2020-07-24 17:57] amshinde commented on #2855
Looks like @sboeuf is gone for the day. @jcvenegas Can you give this a try?

[2020-07-24 18:17] jcvenegas commented on #2855
@amshinde  @dagrh  I will give it a try

[2020-07-24 18:36] cmaf opened #2856 "Add unit tests for virtcontainers/types/container.go"
There are no unit tests for virtcontainers/types/container.go. They can be added by adapting unit tests from sandbox.go mentioned in #2852  since they use state transitions defined in sandbox.go.

[2020-07-24 21:17] jcvenegas commented on #2855
I  confirm that using 5.0 branch it works cloud-hypervisor

[2020-07-24 22:07] jcvenegas commented on #2855
My bad, my script build a wrong qemu verison,  cloud-hypervisor keeps failing:
[code]

[2020-07-25 01:24] BetaXOi opened #2858 "Add hotplug net device support for cloud hypervisor"
**Is your feature request related to a problem? Please describe.**

Add hotplug net device support for cloud hypervisor

**Describe the solution you'd like**

Use cloud hypervisor `/vm.add-net` API to hotplug net device

**Describe alternatives you've considered**

A clear and concise description of any alternative solutions or features you've considered.

**Additional context**

Add any other con

[2020-07-25 02:05] BetaXOi commented on #2858
Move to https://github.com/kata-containers/kata-containers/issues/453

[2020-07-25 02:05] #2858 closed

[2020-07-26 17:16] skaegi commented on #2855
I'm not sure if this will help, but I just tried with the 1.12.0-alpha0 release using the clh 0.8 configuration, but instead using kernel 5.7.9, and qemu 5.1.0-rc1's virtiofsd with `virtio_fs_cache_size = 0` in my kubernetes/containerd setup and get...

[code]

[2020-07-27 08:36] sboeuf commented on #2855
@dagrh I found the culprit. The list of `FS_MAP`, `FS_UNMAP`, `FS_SYNC` and `FS_IO` constants have been updated from `4,5,6,7` to `6,7,8,9` :)

[2020-07-27 08:48] sboeuf commented on #2855
Everything should be fixed with the PR https://github.com/cloud-hypervisor/vhost/pull/21

[2020-07-27 08:49] dagrh commented on #2855
Ah! Remember because DAX is still not upstream we're still chasing space int he enums; SLAVE_VRING_CALL landed and we had to shuffle up.

[2020-07-27 08:58] sboeuf commented on #2855
Yep :)

[2020-07-27 09:34] sboeuf commented on #2855
@dagrh one question, as I want to make sure we can catch up these issues as soon as possible, can I reliably use `virtio-fs-dev` branch from CH? I mean to say, do you expect it to be broken sometimes, or is it always in a functional state?

[2020-07-27 09:48] dagrh commented on #2855
It should always work, but it only gets light testing, nothing too heavy.

[2020-07-27 09:49] sboeuf commented on #2855
Ok I'll give this a try then!

[2020-07-27 12:14] Kuvesz commented on #1050
This is an issue from 2018, I'm no longer using Kata for anything, hopefully it's fixed though. :)

[2020-07-27 13:12] sboeuf commented on #2855
@jcvenegas @amshinde ok all the fixes have been merged in Cloud-Hypervisor. Could you please have a try and let me know if this solved the problem :)

[2020-07-27 15:06] #2818 closed

[2020-07-27 15:25] jcvenegas commented on #2855
@sboeuf thanks for the quick fix, I was able to boot a container with master, I have upgraded the PR https://github.com/kata-containers/runtime/pull/2840 and CI is runing full cloud-hypervisor test now.  I'll notify later if there is more errors.

[2020-07-27 16:56] devimc opened #2860 "qemu 5: warning: 9p: Multiple devices detected in same VirtFS export"
I'm seeing the following warning message in the journal

[code]

[2020-07-27 20:31] evanfoster commented on #2764
I'm running into this issue as well.
[code]

Here's an example workload that reproduces the issue for me:
[code]

[2020-07-28 09:43] #2852 closed

[2020-07-28 09:46] #2825 closed

[2020-07-28 11:11] free2k opened #2862 "9p file system performance is low"
**Which feature do you think can be improved?**

9p file system performance is low。

When allocating disk space to the container, the host directory is shared through 9p, but the performance of the 9p file system is low when doing performance testing

**How can it be improved?**

Directly transparently transmit virtual disk devices

**Additional Information**

**Before raising this feature request

[2020-07-28 13:01] lifupan commented on #2764
Hi, @chavafg  It seemed there was some  difference between crio and containerd,  Would we also add the test combination of k8s + containerd too,  in case we missed some verification specific to containerd.

[2020-07-28 14:01] egernst commented on #2846
*I* don't think we necessarily need both. There are a couple of extra configuration options required for tc-filter which hosts *may* not want (tc-mirred), but this is fine.

I do want to understand what the limitation is, however, and make sure we have it clearly documented.

[2020-07-28 14:21] sboeuf commented on #2846
Gotcha!
The limitation from a CH perspective is about the way the net backend is implemented. For now, it only supports opening an existing `tap`, or creating one from scratch, relying on `/dev/net/tun` device. `macvtap` is similar to `tap` in many ways, but also slightly different wrt how it's managed.
`macvtap` is something that might be interesting for CH, and this will be discussed during the

[2020-07-28 15:12] #2860 closed

[2020-07-28 17:57] evanfoster commented on #2764
I was able to get logs by faking CRI-O's log format:
[code]

@fidencio Is it possible that logs aren't being handled totally correctly when using `runtime_type=vm` on CRI-O? I'll do some digging as well.

[2020-07-28 19:17] evanfoster commented on #2764
Well, I think I figured it out.

Basically, (I believe) CRI-O relies on `conmon` to handle formatting logs. I *think* that `conmon` is still invoked when `runtime_type` is set to `oci` in CRI-O's config, but it is definitely not when `runtime_type` is set to `vm`. Since there's nothing between CRI-O and the shim, the logs are passed along with no formatting, which confuses Kubernetes and causes th

[2020-07-28 20:49] egernst commented on #2812
Thanks for the very detailed report, and sorry for delayed feedback. This sounds like a bug to me; I'm happy you were to work around on your end. I don't think we have any tests currently around subPath, so we'll need to augment our tests (heads up @GabyCT). Heads up @amshinde

[2020-07-28 21:24] amshinde commented on #2846
@sboeuf Like Eric mentioned there is strictly no need for both. macvtap does provide slightly better performance. In my opinion, this is a nice to have feature, we certainly have other gaps that need to be addresses first.
What I suggested to @likebreath is to clearly document this in the configuration file for cloud-hypervisor to indicate that tc-filter is the only supported option.

[2020-07-28 21:28] egernst commented on #2813
Hey @ganeshmaharaj - was there any updates on this issue? Any publicly available reproducer? fio to the rootfs, or .. ?

[2020-07-28 22:37] fidencio commented on #2764
It totally does!

Please, do! And /cc me there if possible.

[2020-07-28 23:44] likebreath opened #2864 "clh: Potential regression test failure `VmInfoGet failed`"
# Description of problem

As observed from the two PRs (https://github.com/kata-containers/runtime/pull/2840 and https://github.com/kata-containers/runtime/pull/2833), we see the clh-docker CI job is failing on `run hot plug block devices`. Also, @egernst reported a similar failure of `VmInfoGet failed` after hotplug memory to kata+clh.

As @jcvenegas and I confirmed the failure is not related to

[2020-07-29 06:47] likebreath commented on #2864
Interesting/unexpected experiments results from running clh-docker CI jobs on different PRs:
PR #2865 (dummy PR for debugging this issue) is passing:  http://jenkins.katacontainers.io/job/kata-containers-runtime-ubuntu-1804-PR-cloud-hypeprvisor-docker/150/
PR #2833 (support block device unplug) now is passing (while it was failing earlier today): http://jenkins.katacontainers.io/job/kata-container

[2020-07-29 08:44] sboeuf commented on #2864
@likebreath thanks for keeping track of these issues!
As always, I would suggest that we try to reproduce the problem by manually running a Cloud-Hypervisor instance. Unless it's not reproducible because of some weird race condition, this would simplify the debug of these issues.

[2020-07-29 15:48] merwick opened #2866 "QEMU instance does not exit when VM shuts itself down."
# Description of problem

Stopping a Kata VM (e.g. using /proc/sysrq-trigger) from within the VM doesn't cause the QEMU process to exit.

# Expected result

echo b >  /proc/sysrq-trigger, Kata VM shuts down and QEMU process exits

# Actual result

QEMU instance keeps running but VM is now unresponsive having shut down.

---

[2020-07-29 15:50] merwick commented on #2866
The Kata architecture does not support rebooting VMs (the lifecycle being start/exec/kill) and if a VM is killed (e.g. using sysrq-trigger), the VM does not exit fully and other layers do not notice the state change.

The QEMU instance needs to be told to exit and not reboot which can be done by passing the --no-reboot command line option when creating the VM.

I am working on a fix for this, plea

[2020-07-29 16:05] jcvenegas commented on #2864
I still not have a cloud-hypervisor only case, but I now have created a script with to docker to isolate a bit more.
[code]

[2020-07-29 16:05] jcvenegas commented on #2864
Usually using 9 loop devices is easier to reproduce.

[2020-07-29 16:33] egernst commented on #2864
It *sounds* like this is a regression in functionality?  Can we attempt to bisect? Is this observable on stable?

[2020-07-29 16:42] likebreath commented on #2864
@egernst We are working on a reproducer of the problem for the master upstream. Would you please share how you encountered the failure on your setup (w/ memory hotplug)?

[2020-07-29 16:59] egernst commented on #2864
wget https://github.com/kata-containers/runtime/releases/download/1.12.0-alpha0/kata-static-1.12.0-alpha0-x86_64.tar.xz

On a Kube system w/ Kata runtime classes already installed, and kata-deploy already run, update binaries for latest master release:
[code]

Then, just run a pod:
[code]

[2020-07-29 18:47] amshinde commented on #2864
@likebreath @egernst Have we tried against the stable 1.11.2 release to check id we see the issue?

[2020-07-29 21:57] egernst commented on #2138
Were there any updates here @stefanha @mcastelino @ganeshmaharaj @amshinde  ?

[2020-07-29 22:16] #2844 closed

[2020-07-30 09:53] jongwu opened #2868 "disable the new parameter of multidev in qemu/9p on arm64"
# Description of problem

backport patch from katacontainers, see https://github.com/kata-containers/kata-containers/pull/467

# Expected result

(replace this text with an explanation of what you thought would happen)

# Actual result

(replace this text with the output of the `kata-collect-data.sh` script, after
you have reviewed its content to ensure it does not contain any private
information)

[2020-07-30 10:03] free2k opened #2870 "shared_fs = "virtio-fs" Cannot create container"
# Description of problem
configuration.toml   Configuration file  《shared_fs = "virtio-9p"》Can create containers，But modified to 《shared_fs = "virtio-fs"》 cannot be created

# Expected result

《shared_fs = "virtio-fs"》Can create containers

# Actual result
《shared_fs = "virtio-fs"》Can't create containers

<details>
<summary>Show <tt>kata-collect-data.sh</tt> details</summary>
<p>

# Meta details

[2020-07-30 10:04] free2k commented on #2870
`Jul 30 15:21:53 ghost kata[86328]: time="2020-07-30T15:21:53.464587176+08:00" level=warning msg="load sandbox devices failed" ID=7bda7f964a2be1eef69c99ed367871083224e397fb8ee2b23dd68f3685036da1 error="open /run/vc/sbs/7bda7f964a2be1eef69c99ed367871083224e397fb8ee2b23dd68f3685036da1/devices.json: no such file or directory" sandbox=7bda7f964a2be1eef69c99ed367871083224e397fb8ee2b23dd68f3685036da1 sa

[2020-07-30 13:00] #2835 closed

[2020-07-30 13:29] snir911 commented on #2769
Fix was merged in upstream crio.
I was not able reproduce the oc rsh issue, if it still exist it probably wroth another issue.

[2020-07-30 13:29] #2769 closed

[2020-07-30 14:00] #2866 closed

[2020-07-30 15:46] merwick commented on #2866
@devimc This covers Kata 1.12 but I'm not sure how to deal with Kata 2.0.  I ported the changes to the 2.0-dev branch [1] and they pass Travis CI [2] - does it need a separate PR?
[1] https://github.com/merwick/kata-containers/commit/c15ef219e521a1f23de8bef57b273c9a632c0dab
[2] https://travis-ci.org/github/merwick/kata-containers/builds/713350564

[2020-07-30 16:31] devimc commented on #2866
@merwick yes please, forwardport this patch,

NOTE: 2.0-dev uses `go modules` (not `dep`)

[2020-07-30 16:36] devimc commented on #2866
yes, please

[2020-07-30 16:38] merwick commented on #2866
In https://github.com/merwick/kata-containers/commit/5010e3a368406f4a650def0cf787d9a6b422c9f1 I made the changes to go.mod, got.sum & vendor/modules.txt  (I'm not sure if I should have deleted the old govmm lines (167-168) in go.sum). I'll submit the PR and people can comment there.

[2020-07-30 17:51] egernst commented on #2864
@amshinde I am unable to reproduce with 1.11.2

[2020-07-31 11:15] #2868 closed

[2020-07-31 22:45] fidencio commented on #2719
I'm closing this one as all the patches ended up being merged on CRI-O.

[2020-07-31 22:45] #2719 closed

[2020-08-03 13:22] flyflypeng opened #2872 "Hotplug huge memory into the guest at once time cause guest blocked and without responding."
# Description of problem
Hotplug huge memory(for example 128GB) into the guest at once time, which cause guest blocked and without responding.

Test steps:
[code]

# Expected result

Hotplug huge memory into the guest success.

# Actual result

kata-runtime log：
[code]

kata-proxy log：
[code]

[2020-08-03 13:38] flyflypeng commented on #2872
There are two factors cause  this problem:

-  Hotplug  huge memory into guest, **kernel needs to allocate a large number of memory(allocate from default memory of guest) for memory management usage, the larger memory hotplugged, the more memory needed for memory management**. The guest default memory value(usually this value is 1GB,set by default_memory in the configuration.toml file )is too smal

[2020-08-03 13:38] flyflypeng commented on #2872
I will raise a PR to fix this bug soon.

[2020-08-03 13:43] devimc commented on #2872
@flyflypeng thanks. btw any update on this issue https://github.com/kata-containers/agent/issues/804 ?

[2020-08-03 15:41] flyflypeng commented on #2872
@devimc Sorry for update [kata-containers/agent#804](https://github.com/kata-containers/agent/issues/804), I will give reply to you  on [kata-containers/agent#804](https://github.com/kata-containers/agent/issues/804) issue link.

[2020-08-04 11:22] jschintag opened #2873 "Initrd: Alpine Version 3.7 no longer supported"
The currently used alpine version 3.7 in `versions.yaml` for initrd is no longer supported.

[2020-08-04 12:42] #2873 closed

[2020-08-04 19:14] GabyCT opened #2875 "debug: test get versions"

[2020-08-04 20:17] #2875 closed

[2020-08-05 20:18] likebreath commented on #2864
A quick update.

@jcvenegas and I located the root cause of the `VmInfoGet` failure from PR https://github.com/kata-containers/runtime/pull/2840, which turned to be an issue related to the `seccomp` capability enforced by cloud-hypervisor (CLH) itself. The `http_servier` thread is killed silently (w/ signal `SIGSYS`) by the kernel (`auditd`) when a syscall is used but not listed and allowed in the

[2020-08-05 21:47] killuazhu commented on #2789
We run into the same issue, about to see if the [agent patch](https://github.com/kata-containers/runtime/issues/2789#issuecomment-655298895) provided by @amshinde will work for us.

[2020-08-05 22:36] #2633 closed

[2020-08-06 01:21] cmaf opened #2877 "Expand unit tests for virtcontainers/utils/utils.go"
There is about 55% coverage for virtcontainers/utils/utils.go, they can be expanded by covering additional functions.

Backport for [#490](https://github.com/kata-containers/kata-containers/issues/490)

[2020-08-06 06:18] sboeuf commented on #2864
@likebreath @jcvenegas

Could you document how to quickly check and identify this kind of issue? The goal is to avoid wasting too much time next time we might run into this issue and quickly identify the missing syscall.

[2020-08-06 07:31] #2870 closed

[2020-08-06 07:32] #2862 closed

[2020-08-06 07:40] free2k opened #2879 "failed to ping agent: Failed to check if grpc server is working"
# Description of problem
The container automatically restarts after the connection agent fails during the ltp stress test

`Aug 06 13:32:31 myhost1 containerd[255157]: time="2020-08-06T13:32:31.586498504+08:00" level=error msg="Wait for process failed" container=3fb6bdf1c82c0b81d61fc4442c12246158318c7255f5a5b578c3784bfaabcb0d error="Dead agent" pid=bd6da7ff-0c0e-4c6d-9553-71abdd2932d6
Aug 06 13:32

[2020-08-07 01:08] #2701 closed

[2020-08-07 04:46] #2856 closed

[2020-08-08 09:13] flyflypeng opened #2882 "delete sandbox failed and resource left when pod_container type container fail to start"
# Description of problem

delete sandbox failed and resource left when pod_container type container fail to start.

I mock the error in the following `virtcontainers/sandbox.go` to simulate error happens after `c.create()`:
[code]

And then I do the following test:
[code]

Step 3 `docker rm -f` command returns the error and cause the store persist sandbox dir `/var/run/vc/sbs/<sandbox-id>` and `qe

[2020-08-11 10:04] lifupan opened #2884 "shimv2: close process's IO before stdin io copy terminated(backport from 2.0)"
# Description of problem

see much more info https://github.com/kata-containers/kata-containers/issues/439

# Expected result

(replace this text with an explanation of what you thought would happen)

# Actual result

(replace this text with the output of the `kata-collect-data.sh` script, after
you have reviewed its content to ensure it does not contain any private
information).

[2020-08-11 22:18] egernst commented on #1807
I forgot we didn't have this enabled still.  As we look @ 2.0 Kata and discuss dropping CLI support, we'd effectively be dropping tracing support since shim-v2 does not yet support tracing.

I spent a couple of minutes looking at the CLI tracing and thinking about equivalent utility in shim-v2.

Today a span is created in CLI [after the sub command is parsed](https://github.com/kata-containers/run

[2020-08-13 01:04] amshinde commented on #2864
Can we throw an explicit error in that case which clearly shows that the system call was not allowed by seccomp?
Looking at the seccomp man page, there are several actions that can be triggered by a seccomp filter. Looks like in case of cloud-hypervisor, the action chosen for disallowed system call is `SECCOMP_RET_TRAP` which throws a `SIGSYS` signal. Is there a way we can catch this signal and re

[2020-08-13 07:35] #2877 closed

[2020-08-13 10:35] jodh-intel commented on #1807
@egernst - yes, that sounds good to me.

We need to decide if tracing is a release blocker for 2.0 too (if so, this issue should be labelled `release-gating`): we have this work item plus I'm still having problems with https://github.com/kata-containers/kata-containers/issues/60.

/cc @amshinde, @gnawux.

[2020-08-13 13:03] #2830 closed

[2020-08-13 23:35] #2848 closed

[2020-08-13 23:35] #2864 closed

[2020-08-13 23:35] egernst commented on #1807
@jodh-intel - I'd say that this is necessary for 2.0 as well; I'm naively hopeful that this isn't too long of a task, and that we'd be able to put this in for 1.12, as well as up to 2.0.

Based on that -- no concerns with marking this as 2.0 blocking, other than the fact that it doesn't exist in 1.x...

[2020-08-14 20:34] #2832 closed

[2020-08-14 21:26] fidencio commented on #2764
This one is on CRI-O, we can close it when we get CRI-O patches merged and a 1.17 release out.

[2020-08-14 21:37] #2855 closed

[2020-08-17 15:14] jcvenegas commented on #2799
Closing this as duplicated of kata-containers/tests#2717

[2020-08-17 15:14] #2799 closed

[2020-08-17 15:24] jcvenegas commented on #2770
We now use cache=auto, this should be fixed now - @eadamsintel  please confirm .

[2020-08-17 16:46] jodh-intel opened #2886 "Add version cli option to shimv2"
All components should support a `--version` option to allow clear identification of the version of the component being used.

See: https://github.com/kata-containers/kata-containers/issues/307

[2020-08-17 17:18] jcvenegas commented on #2789
@amshinde  so is this  not a virtiofs issue, correct ?
Can we close this issue now?

[2020-08-17 18:16] amshinde commented on #2789
@jcvenegas Yes, not related to virtiofs. Fix has been merged in master and stable branches. Closing this.

[2020-08-17 18:16] #2789 closed

[2020-08-17 19:01] jcvenegas commented on #2555
Seems that this issue was not seen in a while, probably need to have stress test with virtiofs to launch many times until find this kind of issues as @jongwu  points.

[2020-08-17 19:03] jcvenegas commented on #2555
Closing this issue @jongwu  please open an issue if needed for the case you have seen.

[2020-08-17 19:03] #2555 closed

[2020-08-17 20:09] killuazhu commented on #2789
@amshinde do you know if the [merge of commit](https://github.com/kata-containers/agent/commit/f6cf9693104e62ffde7154262cad855beffcfb51) to https://github.com/kata-containers/agent `stable-1.11` branch would also refresh packages on http://download.opensuse.org/repositories/home:/katacontainers:/releases:/x86_64:/stable-1.11/xUbuntu_18.04/ ?

[2020-08-17 21:21] jcvenegas commented on #2137
No update in a long time - and 1.0 not supported anymore, closing this issue.

[2020-08-17 21:21] #2137 closed

[2020-08-17 21:27] jcvenegas commented on #2813
@ganeshmaharaj hi, could you give a bit more of conext on what test you are using to as intensive IO workload, something like thise could help to continue the debug.
[code]
[code]

[2020-08-17 21:35] jcvenegas opened #2888 "Stress/scalability: virtiofs: Run docker containers in a loop could have stability issues"
From:
https://github.com/kata-containers/runtime/issues/2555

 I know something which may related with this issue. if you run kata-runtime with virtiofs round after round , eg :
for i=0; i<10; i++ {
kata-runtime run kk
}
the round may not continue for the second because in the second round it will warn as no qmp.sock available. the root cause is that the the qemu process spawned by the first kata

[2020-08-18 04:31] egernst commented on #2611
This was easy to reproduce on 1.11.1 along with Docker version 19.03.12. In he case of QEMU, the corresponding containerd shim process is left running on the system.

When doing same test with CLH, I see both the corresponding containerd shim process as well as kata-shim left running on the host.

[2020-08-18 14:24] ariel-adam commented on #2400
Given that this work with virtiofs and our focus will be on virtiofs and not 9p looking forward we will close this as won't fix.

[2020-08-18 14:24] #2400 closed

[2020-08-18 14:36] ariel-adam commented on #2427
@haircommander is this still an issue or can we close it?

[2020-08-18 14:38] haircommander commented on #2427
I believe we are still pinning the old conmon

[2020-08-18 14:39] ariel-adam commented on #2428
Our focus is no longer on CLI commands since are moving to shim-v2 in 2.0 thus we are closing this issue.

[2020-08-18 14:39] #2428 closed

[2020-08-18 14:45] ariel-adam commented on #2493
Given that we have a workaround and nothing to fix we are closing this issue.

[2020-08-18 14:45] #2493 closed

[2020-08-18 14:45] amshinde commented on #2426
@darfux With privileged containers, all devices on the host are passed to the container which means any block devices are hotplugged. We added a configuration with containers and crio to tackle this.
Please take a look at this:
https://github.com/kata-containers/documentation/blob/master/how-to/privileged.md

[2020-08-18 14:45] egernst commented on #2459
Hey @szimonek -- some of the static binaries (QEMU) require a known path at build time, in particular for finding the firmware, etc, IIRC.  If you want to store these at a different location you'd have to at least rebuild QEMU for your new path, just use a symlink, or rebuild the whole "tarball"

Closing as this is a bit stale, and apologize for the late reply!

[2020-08-18 14:45] #2459 closed

[2020-08-18 14:46] ariel-adam commented on #2497
Since we have not seen this issue laterly we will not fix and close.

[2020-08-18 14:46] #2497 closed

[2020-08-18 14:47] amshinde commented on #2426
@darfux Closing this. Please reopen if you think this is still relevant.

[2020-08-18 14:47] #2426 closed

[2020-08-19 01:37] #2884 closed

[2020-08-19 03:11] YongHaoWu commented on #2493
Hi, I think the workaround is not the good solution for this issue.
It would be better that u can implement this in kata-container.

[2020-08-19 05:53] dgibson commented on #2678
Had a look at this and realized there's a singificantly simpler - and more accurate - way of identifying PCIe devices: just look at the size of the 'config' file in sysfs.  That will either be 256 bytes (plain PCI config space) or 4096 bytes (PCIe extended config space).

I'm working on a fix for this now.

[2020-08-19 06:42] dgibson opened #2890 "VFIO hotplug fails with hotplug_vfio_on_root_bus = true"
# Description of problem

If I attempt to add a VFIO device to a Kata container which is configured with `hotplug_vfio_on_root_bus = true` the device does not appear.

1. Set `hotplug_vfio_on_root_bus = true` in `configuration.toml`
2. Set `pcie_root_port = 1` (or a number > 1) in `configuration.toml
3. Rebind a host-side PCIe device to the `vfio-pci` driver
4. Start a Kata container with `--devic

[2020-08-19 06:42] dgibson commented on #2890
Some investigation on the qemu monitor shows that the device doesn't appear in qemu's device tree, so the problem appears to be with issuing the hotplug itself, not with the qemu <-> guest hotplug mechanism.

[2020-08-19 07:10] dgibson commented on #2890
Well, this is weird.  It looks like the `device_add` QMP command to add the device is succeeding, but moments later, the device is deleted again:

[code]

[2020-08-19 11:14] nab-os commented on #175
Has anyone found a different workaround than these 2 :
- Configuring fully static custom networks + bind volume on /etc/hosts and /etc/resolv.conf: Very error prone and much more maintenance
- Not using custom networks + the docker link feature (legacy): Less secure + link feature might be removed
?

[2020-08-19 11:27] devimc commented on #175
have you tried with the [netmon](https://github.com/kata-containers/runtime/blob/b9501dc3f863ca981e829a7df1795e412c8053b3/cli/config/configuration-qemu.toml.in#L402-L408) ?

[2020-08-19 11:32] darfux commented on #2426
@amshinde got it, thanks 😃

[2020-08-19 11:42] nab-os commented on #175
Yes, but still not able to reach Dockerk's embedded DNS

[2020-08-19 12:40] devimc commented on #2890
looks like the VFIO device is being hot plugged in a root port, not in the root bus, are you using Q35 as machine type?

[2020-08-19 17:59] haircommander commented on #2719
https://github.com/fidencio/cri-o/commit/345c016eda17fb56d0193e02a8d436ae1bae996e is leading to problems where we remove the container on a successful container exit, and the kubelet tries to remove the container (but it doesn't exist in the ctrs map)

[2020-08-19 18:40] jcvenegas commented on #2814
This is fixed in master, was a fix after upgrade to cloud-hypervisor 0.9

[2020-08-19 18:40] #2814 closed

[2020-08-19 19:20] evanfoster commented on #2719
Do we know why the shim uses so much CPU when the containers die? I wonder if it's busy-looping.

[2020-08-20 00:22] dgibson commented on #2890
Right, which is expected.  It's not possible to hotplug into the root bus, only a root port.

From my investigation so far, this is actually looking like it might be a qemu or guest kernel bug.  I think we're losing an interrupt and the guest side hotplug code is misinterpreting a stale Attention Button interrupt as an unplug request when it actually came from the plug notification.  Or something,

[2020-08-20 12:34] devimc commented on #2890
interesting, sounds like pci rescan is messing up the device, is your device a `VFIOLargeBarSpaceDevice` ?  take a look:

https://github.com/kata-containers/runtime/blob/b9501dc3f863ca981e829a7df1795e412c8053b3/virtcontainers/container.go#L894-L911

[2020-08-20 21:31] egernst opened #2892 "failure to start debug console with cloud hypervisor"
# Description of problem

Unable to start a console connection to the guest when utilizing Cloud Hypervisor. Cloud Hypervisor should be able to provide a /dev/console (unlike FC, which requires setting up a listener on the particular vsock port).

When enabling console debug and connecting to clh.sock (the vsock connection to the virtual machine) with socat, the connection closes after the first c

[2020-08-20 21:40] egernst commented on #2892
/cc @sboeuf @likebreath @jcvenegas @amshinde @devimc  -- heads up

[2020-08-20 22:51] dgibson commented on #2890
Ah, no.  Sorry, I should have been clearer about that.  PCI rescan absolutely *wil* mess up devices (at least with shpc, not sure about pciehp) - but that's not this bug.  I'm running an agent with your patch to remove the rescan.

I'll take a look.  That might be relevant, since I suspect the problem occurs when we hotplug a device too early in the guest's lifetime.

[2020-08-21 04:24] dgibson commented on #2890
Well, this continues to get weirder.
- If I insert a 2s delay before the device_add operation in the runtime, the hotplug works correctly.  The guest kernel gets the attention interrupt, powers on the slot, and the new device is discovered:
[code]
- Without the delay it fails as described above.  The guest kernel appears to see the new device, then process a hotplug notification, decide it's an un

[2020-08-21 14:51] choury opened #2893 "containers start failed with "query-hotpluggable-cpus is not enabled" on aarch64"
[code]
kata version: 1.11.2
qemu version: 4.2.0
kernel: 5.4 (both host and guest)
kubernetes: 1.16

[2020-08-24 11:00] mrlhansen opened #2894 "Guest programs hang in child spawning system calls"
# Description of problem

I am honestly not sure where to post this problem, so if this is not the right place, then I apologize.

I am experiencing some strange performance issues when running kata containers. I first experienced this when trying to run MATLAB inside a kata container (using an Ubuntu image), and it took a very long time (30 minutes to an hour maybe) for the program to start. Afte

[2020-08-24 14:25] devimc commented on #2894
@mrlhansen  thanks for raising this, I have faced the same issue (yum ..) - the solution in my case was to switch the init process, from systemd to kata-agent (just add `init=/usr/bin/kata-agent` to `kernel_params` in the configuration file)

[2020-08-24 23:09] amshinde opened #2895 "Move to latest LTS kernel 5.4.60"

[2020-08-24 23:57] #2678 closed

[2020-08-25 07:38] lovebaby979 opened #2897 "Failed to check if grpc server is working: rpc error: code = Unavailable desc = transport is closing"
# Description of problem
kubectl describe pod podname
Failed create pod sandbox: rpc error: code = Unknown desc = container create failed: Failed to check if grpc server is working: rpc error: code = Unavailable desc = transport is closing

Run kata with kubernetes.

How to check problems？

[2020-08-25 08:51] #2886 closed

[2020-08-25 12:46] mrlhansen commented on #2894
@devimc That worked like a charm, it solved the problem in both cases!

[2020-08-25 13:52] #2895 closed

[2020-08-25 14:27] ariel-adam commented on #2535
@fidencio is this still a relevant issue in the latest podman?

[2020-08-25 14:32] fidencio commented on #2535
I don't know.

I'd say the questions here should be what's the version we're using in the CI and whether that still happens with the used version.
@GabyCT, may I ask for some help here?

[2020-08-25 14:36] GabyCT commented on #2535
here it is the version https://github.com/kata-containers/tests/blob/master/versions.yaml#L82

[2020-08-25 14:43] fidencio commented on #2535
Okay, we're using 1.9.0 and the test suite is not complaining, right?

Assuming that's the case, we can close this one. @GabyCT, do you agree?

[2020-08-25 14:44] ariel-adam commented on #2587
We are closing this issue since we don't have mac book HW to reproduce it.
Feel free to open this issue if you would like to reproduce it.

[2020-08-25 14:44] #2587 closed

[2020-08-25 14:50] ariel-adam commented on #2598
@c3d can you provide @stefanha with the files?

[2020-08-25 14:52] jodh-intel commented on #2616
This appears to have been solved by https://github.com/kata-containers/runtime/pull/1173.

[2020-08-25 14:54] ariel-adam commented on #2616
@fidencio does the patch above solve the problem?

[2020-08-25 16:07] fidencio commented on #2616
No the patch does not solve the issue. This issue was open on Apr 2020, using upstream (at that time) runtime. The patch mentioned above is way older than the issue, and was already merged when this one was opened.

[2020-08-25 17:06] amshinde commented on #2647
The fix has been merged. Closing this.

[2020-08-25 17:06] #2647 closed

[2020-08-25 17:08] amshinde commented on #2673
Host networking is not teachnically feasible with Kata and not supported.
@zqzzq Please have a look at our limitations doc: https://github.com/kata-containers/documentation/blob/master/Limitations.md

[2020-08-25 17:08] #2673 closed

[2020-08-25 17:10] amshinde commented on #2763
I think the fix has been merged.
@bpradipt Please feel free open if work still needs to be done in this area.

[2020-08-25 17:10] #2763 closed

[2020-08-25 19:53] devimc commented on #1718
any update on this?  - closing issue, feel free to reopen it

[2020-08-25 19:53] #1718 closed

[2020-08-25 20:41] likebreath opened #2899 "clh: Disable the `seccomp` option temporarily"
# Description of problem

We noticed the `seccomp` option in cloud-hypervisor can introduce periodic failures in Kata's CI since the debug work on `VmInfoGet` failure (issue https://github.com/kata-containers/runtime/issues/2864). We continued to see instability of some CLH CI jobs, espcially the `clh-docker` CI [here](http://jenkins.katacontainers.io/job/kata-containers-tests-ubuntu-1804-PR-cloud

[2020-08-25 20:42] likebreath commented on #2899
/cc @jcvenegas @amshinde @egernst @sboeuf @sameo

[2020-08-25 21:25] likebreath opened #2901 "clh: Complete the 'seccomp' filter list based on the workload from Kata's CI"
**Which feature do you think can be improved?**

As discussed in the issue https://github.com/kata-containers/runtime/issues/2899, the incomplete list of `seccomp` filter from cloud-hypervisor can introduce (random) failures in our CI jobs. As a workaround, the `seccomp` option of clh is temporarily disabled  in kata.

**How can it be improved?**

We should collect the missing `syscall` triggered

[2020-08-25 21:28] likebreath commented on #2901
As a first run of my local VM on the failing tests reported by the CI (e.g. `CPU update constrains`), I see the following missing `syscall`: `brk`. This `syscall` also contributed to the instability of cloud-hypervisor's CI. It was added to all worker threads of clh (after release v0.9.0).

[2020-08-25 21:34] likebreath commented on #2901
/cc @jcvenegas @amshinde

[2020-08-26 08:43] jodh-intel commented on #2616
@fidencio - shouldn't your script `exec containerd-shim-kata-v2` to avoid the extra process (for `bash`)?

[2020-08-26 14:25] #2899 closed

[2020-08-26 17:44] wainersm commented on #2768
I'm hitting this issue too (Fedora 32). In case you read until here and don't want to drill down in the bugzillas mentioned, just do:

[code]

[2020-08-26 22:37] amshinde commented on #202
Closing this, as we keep a reference count of devices we attach.

[2020-08-26 22:37] #202 closed

[2020-08-27 01:24] abel-von opened #2902 "pod with small cpus(0.25) may get a low iops when sandbox_cgroup_only is set"
# Description of problem

pod with small cpus(0.25) may get a low iops when sandbox_cgroup_only is set

# Expected result

io is not influenced by the cpu definition

# Actual result

small cpu definition will influence the iops of pod

---

Shall we consider this influence, or just ignore this use case?

[2020-08-27 12:37] mrlhansen commented on #2894
Just to supplement, is seems that the same issue is present when using Firecracker as the hypervisor (the solution still works also in this case).

[2020-08-27 12:47] devimc commented on #2902
@abel-von thanks for reporting this, please read this https://github.com/kata-containers/documentation/blob/master/design/host-cgroups.md#sandboxcgrouponly-enabled

**all hypervisor threads** including those used for IO and networking, are moved into the cgroup, run with a constraint, in your case 0.25, so this is an expected bahaviour

[2020-08-27 21:14] amshinde commented on #2795
The qemu branch with the fix has been merged  in kata. I have verified that the pod now works with more than 10 containers with virtio-fs. I am going to close this. With this fix is not yet implemented for clh, I am going to open a separate issue to track it.

cc @dagrh @jcvenegas

[2020-08-27 21:17] #2795 closed

[2020-08-27 21:20] amshinde opened #2907 "Kata Pods with more than 5-6 containers fail to fully start with cloud hypervisor using shimv2 api"
This is the equivalent issue for https://github.com/kata-containers/runtime/issues/2795. While this has been fixed with qemu, the fix needs to be implemented in clh.
This issue is to track progress of https://github.com/cloud-hypervisor/cloud-hypervisor/issues/1460 which is planned for 0.10 clh releases.

[2020-08-27 21:20] amshinde commented on #2907
cc @likebreath @jcvenegas to track this under cloud-hypervisor integration work.

[2020-08-28 01:07] likebreath opened #2908 "clh: Rely on the PCI BDF information to locate the hotplugged block devices in the geust"
We now relies on the predicted block device path (`VmPath`) from host to locate hotplugged block devices in the guest, which can be not reliable. As the updated version of clh v0.9.0, we now have the BDF information for all hotplugged devices, and we should use this information to locate devices in the guest.

[2020-08-28 11:46] jodh-intel opened #2910 "action: Add issue to project and move to "In progress" on linked PR"
Add GitHub actions to:

- Add newly-created issues to the issue backlog project.
- Move issues with a linked PR into the "In progress" column
  of the issue backlog project.

Related: https://github.com/kata-containers/kata-containers/issues/512

[2020-08-28 14:03] devimc commented on #2892
works for me, with its expected limitations, did you read the documentation? https://github.com/kata-containers/agent/#enable-debug-console-for-firecracker

[code]

[2020-08-28 14:28] jodh-intel opened #2912 "action: Require PR porting labels"
A PR now needs *two* labels to be applied before it can be merged. One
label must be a backport label from the list below and the other a
forward port label:

- backport labels: `needs-backport`, `no-backport-needed`.
- forward-port labels: `needs-forward-port`, `no-forward-port-needed`.

This is to make the maintainer think carefully before merging a PR and
hopefully maximise efficient porting.

[2020-08-28 16:12] devimc commented on #2892
same result using cloud-hypervisor

[code]

[2020-08-28 16:28] egernst commented on #2892
ACK.  I see same behavior.  I'll work on updating the docs to cover each VMM (probably setup a single debug document).  Thx Julio.

[2020-08-28 22:17] csiemantel commented on #2897
# Description of problem
Getting the same error on SuSE MicroOS.

Installed official katacontainers package
Ran `kata-runtime spec`
Ran `kata-runtime run hello-world`

# Expected result
hello-world container runs

# Actual result

<details>
<summary>Show <tt>kata-collect-data.sh</tt> details</summary>
<p>

# Meta details

Running `kata-collect-data.sh` version `1.11.1 (commit )` at `2020-08-28.22:

[2020-08-31 00:00] ianlewis commented on #1834
This is a duplicate of https://github.com/kata-containers/runtime/issues/697

[2020-08-31 07:53] gnawux commented on #697
just updated the broken slide link in https://github.com/kata-containers/runtime/issues/697#issuecomment-420372791

[2020-08-31 12:53] keloyang opened #2914 "Don' call bindUnmountContainerRootfs if container's rootfs use devicemapper device"
buildContainerRootfs don't call bindMountContainerRootfs  if container's rootfs use devicemapper device in https://github.com/kata-containers/runtime/blob/master/virtcontainers/kata_agent.go#L1300, so bindUnmountContainerRootfs should not be called  if container's rootfs use devicemapper device in https://github.com/kata-containers/runtime/blob/master/virtcontainers/container.go#L1123

[2020-08-31 18:50] amshinde commented on #2892
@devimc @egernst I'd really like to see what was causing issues on my side to figure out if this does not work with the configuration I was using.
@devimc I did follow all the instructions you documented. Did you test this with a clearlinux image and a particular version of kata?

[2020-08-31 19:20] devimc commented on #2892
@amshinde no, I'm using master, it's worth mentioning that you have to type `CONNECT $PORT`, where $PORT is the port number specified through `agent.debug_console_vport=`

[2020-09-01 08:11] keloyang opened #2918 "lazy Umount"
https://github.com/kata-containers/runtime/blob/master/virtcontainers/factory/template/template.go#L89 use a zero flag to Unmount, and I found that runtime uses lazy umount everywhere else,  do we need to modify it ? If necessary, I can modify it .

[2020-09-01 09:39] keloyang opened #2919 "Forget to clean up for s.newStore"
runtime should call s.newStore.Destroy if globalSandboxList.addSandbox failed at https://github.com/kata-containers/runtime/blob/master/virtcontainers/sandbox.go#L550

[2020-09-01 13:22] keloyang opened #2921 "/var/lib/vc/sbs/${sid} dir residual"
we can reporduce like the following.
1.  **kubectl create -f untrusted.yaml**   create a untrusted pod which is bound to the node of centos1 in k8s
2.  **sleep 10** sleep 10 seconds
3.  **delete the pod**
4.  **ssh centos1 ls**  login into centos with ssh ,and list the dir for /var/lib/vc/sbs/

execute the commands above everytime, the directory of  /var/lib/vc/sbs/  will have a new directory whic

[2020-09-01 14:13] ariel-adam commented on #2660
Given that we are missing information on this bug we are closing this for now.
Feel free to reopen this bug once information is added.
We would also appreciate getting relevant logs.

[2020-09-01 14:13] #2660 closed

[2020-09-01 14:18] ariel-adam commented on #2697
@amorenoz @bpradipt @dgibson can you take a look at this issue and clarify what still needs to be done?

[2020-09-01 14:21] ariel-adam commented on #2732
@jcvenegas looking at this issue it seems it's more about best practices and not a real problem.
Do you plan on looking at it or can we close it (if so please do :-)).

[2020-09-01 14:41] ariel-adam commented on #2786
@fidencio Is there something we can do with this information?
Do we need to act on it?

[2020-09-02 01:08] hswong3i opened #2925 "[1.11.3] Missing Static Binary Release Archive"
**Is your feature request related to a problem? Please describe.**

https://github.com/kata-containers/runtime/releases/tag/1.11.3 is missing static binary release archive.

**Describe the solution you'd like**

A clear and concise description of what you want to happen.

**Describe alternatives you've considered**

A clear and concise description of any alternative solutions or features you've co

[2020-09-02 14:29] egernst opened #2926 "on stable 1.11, cannot build the specific CLH version"
# Description of problem
Using dev-cli for the 0.7 tag of cloud-hypervisor, we see:
[code]
# Expected result

Succesful build

The reference no longer exists; it was recommended we should move to 0.8.

[2020-09-03 01:47] cmaf opened #2928 "Add unit test coverage for virtcontainers/utils/compare.go"
There is 0% coverage for runtime/virtcontainers/utils/compare.go, add unit tests to increase coverage.

2.x issue: https://github.com/kata-containers/kata-containers/issues/661

[2020-09-03 08:22] lining2020 opened #2929 "kata container using vsock boots up much slower than using kata-proxy"
# Description of problem
Using vsock make container bootup much slower than kata-proxy

Container/VM boot up slower more than 2 seconds using vsock comparing to using kata-proxy.

Host info：
centos 8 on bare metal
[code]

Using kata-proxy
[code]
Using vsock
[code]

### Let's do it once again to make sure.

checkout to kube-proxy again
[code]
checkout to vsock again
[code]

I am not sure which kind

[2020-09-03 19:03] jcvenegas opened #2933 "env: Add virtiofs info"
# Description of problem

Add virtiofs info in kata-env
- cache mode
- cache size (DAX)

Useful to collect information or compare metrics.

[2020-09-04 07:17] lining2020 commented on #2929
Here is the test result of using kata 2.0
[code]

[2020-09-04 08:47] merwick commented on #2929
This looks like the same issue that is tracked in https://github.com/kata-containers/runtime/issues/1917

[2020-09-04 09:05] lining2020 commented on #2929
@merwick Yes，It's indeed the same issue.

[2020-09-04 09:13] lining2020 commented on #2929
@merwick Many thanks !

[2020-09-04 09:13] #2929 closed

[2020-09-04 16:20] #2926 closed

[2020-09-08 10:25] jodh-intel commented on #2897
Hi @csiemantel - please [enable full debug](https://github.com/kata-containers/documentation/blob/master/Developer-Guide.md#enable-full-debug) and re-run to provide further information on the issue. It looks like you are using version 1.11.1, so could you try version 1.11.3?

Also, you mentioned `kata-runtime spec`, so you might want to try running Kata without a container manager to verify the in

[2020-09-08 10:34] #2928 closed

[2020-09-08 11:11] lovebaby979 commented on #2897
Thank you,problem have been resolved.

[2020-09-08 14:10] ariel-adam commented on #2819
The issue is missing information and has not been active for 2 month (pending a reply from LinshanYu).
We are closing the issue for now.
LinshanYu, please feel free to open it if it is still and issue and you can continue providing us with the relevant information.

[2020-09-08 14:10] #2819 closed

[2020-09-08 14:13] jodh-intel commented on #2819
If you do need to re-open, please run the command specified in the issue template and paste the output here (after you have checked to ensure there is no private/sensitive information in it):

[code]

[2020-09-08 14:31] ariel-adam commented on #2829
@dagrh Any comments on this one?

[2020-09-08 14:34] ariel-adam commented on #2834
@Lhmily Can you please provide more information on what is the problem you are seeing?
What is the expected behavior vs the actual behavior?
Why do you think this is a kata issue and not a cloud hypervisor issue?

[2020-09-08 14:34] jodh-intel commented on #2834
Do you have any input on this @rbradford, @sboeuf?

[2020-09-08 14:51] jodh-intel commented on #2879
Hi @free2k - please can you provide further information on this. Ideally, please run `sudo kata-collect-data.sh`, review the output to ensure it doesn't contain any private/sensitive information and paste the output here.

If we don't hear back within a week, we'll close this issue (but you can always re-open it).

[2020-09-08 14:55] rbradford commented on #2834
@jodh-intel https://github.com/kata-containers/runtime/blame/master/virtcontainers/pkg/cloud-hypervisor/client/go.mod#L1 I guess that should have been replaced before checking in.

[2020-09-08 15:32] jodh-intel commented on #2854
Hi @parthasl - It sounds like you are trying to run systemd inside a Kata container? Something like this?

[code]

Although Kata's default configuration does in fact use systemd to set up the container environment (atleast currently), the systemd daemon is not accessible to the workload by design, as shown above. In fact, you cannot even assume systemd is present since Kata can also be run using a

[2020-09-08 15:32] #2854 closed

[2020-09-08 15:53] jodh-intel commented on #2897
Thanks for confirming @lovebaby979! I'll close this issue, but feel free to re-open if you need to...

[2020-09-08 15:53] #2897 closed

[2020-09-08 16:08] c3d commented on #2797
Summary of questions I asked about at today's kata-arch meeting:
* OverlayFS (use-case: making kata-containers work for container builds)
* inodes numbering (submount, sharing?)
* Shared directories / EmptyDir option
* Resources usage, notably stack usage (@dagrh looking at it, comparison with 9p would be useful)
* `/dev` mounts (ran into a number of obscure code handling /dev last week)
* DAX sup

[2020-09-08 21:04] fidencio commented on #2764
@chavafg, can we have the tests using https://github.com/cri-o/cri-o/releases/tag/v1.17.5? That version that the fix we need and we could close this one.

[2020-09-08 21:17] fidencio commented on #2786
@ariel-adam, please, feel free to ping me if I don't react to an issue alert.
Last few weeks have been busy, insanely busy.

I think we could preemptively migrate to using go modules here, but I wouldn't do unless it's strictly required.
@jodh-intel, @devimc, opinions?

[2020-09-09 00:57] hswong3i commented on #2925
@egernst seems 1.11.3 retagged but static binary release archive still missing?

[2020-09-09 04:15] dgibson opened #2938 "Kata should be able to passthrough VFIO devices *as* VFIO devices"
**Is your feature request related to a problem? Please describe.**

A number of modern high performance apps want to access PCI devices directly from userspace via VFIO - network functions written with DPDK are one of the most prominent examples.  Such apps can run easily enough in runc (or other conventional) container runtimes simply by passing the `/dev/vfio/vfio` control device and `/dev/vfio/

[2020-09-09 04:19] dgibson commented on #155
@egernst, it's not clear to me if you're talking about rebinding drivers in the host, or the guest.

If the guest, then I have draft code for this (working, but needs polish before merging).  See https://github.com/kata-containers/runtime/issues/2938 for tracking.

If the host, then this seems out of scope for an OCI runtime.  It's input is the OCI runtime spec which gives /dev nodes, not PCI devi

[2020-09-09 04:21] dgibson commented on #619
@sboeuf are you talking about VFIO network devices that are used within the container *as* VFIO devices (e.g. by DPDK), or network devices that you want to be bound to kernel network drivers within the Kata guest?

[2020-09-09 04:28] dgibson commented on #2938
The agent side issue is now tracked as https://github.com/kata-containers/agent/issues/833

[2020-09-09 04:49] dgibson commented on #2938
IMO, in the long term the behaviour described here should be the default, since it matches the OCI runtime specification.

In the short term, however, it will have to be non-default for backwards compatibility with existing Kata versions which use the approach of allowing VFIO devices to be bound to guest side drivers.

[2020-09-09 07:00] sboeuf commented on #619
@dgibson I wrote this a long time ago :) but I think I was talking about network devices that are passed through the VM and bound to the kernel drivers in the guest. It can't be DPDK since I would have mentioned `vhost-user-net` instead of `VFIO`.

[2020-09-09 07:38] huoqifeng opened #2939 "Support vhost-user-fs-ccw devices on s390x"
**Is your feature request related to a problem? Please describe.**

@Marc Hartmayer  provided a qemu patch to support virtio-fs on s390x here https://patchew.org/QEMU/20200717092929.19453-1-mhartmay@linux.ibm.com/, although it's still under review, I have tried it via standalone qemu and virtiofsd on s390x, it's good.

I'd like to add the virtio-fs support in kata on s390x also, so need to add the

[2020-09-09 08:18] jodh-intel commented on #2786
We tried to move to go modules in the past and it was awkward. However, @bergwolf managed it for the 2.0 runtime so maybe we need to backport those changes from https://github.com/kata-containers/kata-containers/pull/199.

[2020-09-09 08:19] jodh-intel commented on #2834
@jcvenegas ^^

[2020-09-09 10:27] mappjzc commented on #2890
I have do the same test and face the same problem as it,
when I try to sleep 3s befor hotplug,  the hotplug works correctly.
But when I only sleep 2s ,  it fails.
In the first case, When I try to attach a new GPU  in the same bus(rp0) by the netcat -U qmp.sock. the attaching will success , but a few second later,both of the two GPUs send the DEVICE_DELETED message.
In the second case, When I try t

[2020-09-09 17:32] cmaf opened #2941 "Expand unit tests for virtcontainers/utils"
There are no unit tests for **proc_linux.go**, **utils_linux_generic.go**, and **utils_linux_ppc64le.go** in runtime/virtcontainers/utils. Add tests to include them.

2.x issue: https://github.com/kata-containers/kata-containers/issues/700

[2020-09-10 01:12] dgibson commented on #619
Uh, DPDK can use vfio devices as well as vhost-user.

[2020-09-10 06:42] sboeuf commented on #619
DPDK can rely on VFIO devices as their backend but the frontend exposed to the VMM is always a vhost-user socket. Therefore from a Kata perspective, if we're dealing with DPDK, we're effectively interacting with a vhost-user device.

[2020-09-10 14:27] bpradipt commented on #159
Current OCI hook implementation in Kata is per container. However as per my understanding the hooks will run for all the containers in a pod.
@egernst @jodh-intel can this issue be closed ?

[2020-09-10 14:37] #159 closed

[2020-09-10 17:23] GabyCT opened #2942 "Memory footprint has been increased"
Currently we have a failure that memory footprint has been increased, this is maybe related with this change https://github.com/kata-containers/runtime/commit/e529c010e0708954ce9924d5f10aa4d0c47708f6. Should we increase the limit to fix the CI or what is the best approach?
/cc @amshinde @likebreath @chavafg

[2020-09-10 18:01] bpradipt commented on #160
@jodh-intel @devimc this issue is stale and going through the past discussions it appears to be a big change with no easy solution. Should we close this issue to keep the backlog numbers saner ?

[2020-09-10 18:17] devimc commented on #160
@bpradipt  thanks, I agree, I'll close it

[2020-09-10 18:17] #160 closed

[2020-09-10 18:37] bpradipt commented on #165
From the code this issue still remains.
https://github.com/kata-containers/runtime/blob/master/virtcontainers/hypervisor.go#L68
https://github.com/kata-containers/agent/blob/master/api.go#L15

However this issue becomes irrelevant for Kata 2.0 given the migration to rust agent.

Closing this issue. @devimc @jodh-intel hope this is fine.

[2020-09-10 18:37] #165 closed

[2020-09-10 19:48] c3d opened #2943 "The makefile does not contain all the generated vars in USER_VARS"
# Description of problem

The list in USER_VARS does not match the list of `sed` replacements in the rule for `$(GENERATED_FILES)`.

For example, `KERNELPATH` or `DEFNETWORKMODEL_CLH` are in the generated list but not in `USER_VARS`.

As a result, `make show-variables` does not show all variables.

[2020-09-10 19:50] c3d commented on #2943
I suggest replacing the long duplicate and error-prone list in `$(GENERATED_FILES)` rule with:

[code]

[2020-09-10 20:55] egernst commented on #2176
I have seen this as well. The guest doesn't have a notion of topology at this point, and it doesn't make sense to set cpuset.mems. We should, however, set it on host side.

I'll resolve this failure first, then look at adding cpuset.mems support to the overall pod (we do this for cpuset.cpus on latest today).

[2020-09-10 21:32] #2910 closed

[2020-09-11 00:59] dgibson commented on #619
Hrm... sorry, I'm clear on what you mean by "frontend".  The situation I'm working with is a DPDK based network function running in a VM (created by Kata or otherwise).  That can function perfectly happily with VFIO interfaces with qemu neither knowing nor caring that the PCI devices it passed through happen to be NICs.  I'm guessing you have some different case?

[2020-09-11 05:24] sboeuf commented on #619
Yes I was thinking about DPDK from a host perspective.

[2020-09-11 13:05] jodh-intel commented on #2942
Related:

- https://github.com/kata-containers/tests/issues/2839
- https://github.com/kata-containers/tests/pull/2840

[2020-09-11 16:29] GabyCT commented on #2942
To unblock the CI we have https://github.com/kata-containers/tests/pull/2840

[2020-09-12 08:46] timyinshi opened #2946 "Can Centos image run on Ubuntu nodes？"
# Description of problem
when i use kata on a ubuntu node,i want to run a container with centos img, can kata support that?

the config:
[hypervisor.qemu]
path = "/usr/bin/qemu-vanilla-system-x86_64"
kernel = "/usr/share/kata-containers/vmlinuz.container"     //this is centos kernel
initrd = "/usr/share/kata-containers/kata-containers-initrd.img"  //this is cenos img
machine_type = "pc"

[2020-09-12 08:50] fidencio commented on #2946
It should, but it depends on the configuration you're using, which CentOS version you're using, etc.

Please, provide all the configuration and versions of what you want to use.

[2020-09-12 16:55] egernst commented on #2946
Shouldn’t be anime issue. Give it a try. If you use github/kata-containers/osbuilder, you’ll see that centos is a supported target for the rootfs builder. I’m not sure you’ll have requirements on the kernel, versus rootfs?

[2020-09-14 01:15] timyinshi commented on #2946
@fidencio @egernst thanks.

[2020-09-14 01:15] #2946 closed

[2020-09-15 01:02] Kvasscn opened #2948 "[backport | master] Fix typo error in virtiofsd test code"
# Description of problem

"sourcePath" should be "socketDir" in virtiofsd test code https://github.com/kata-containers/runtime/blob/master/virtcontainers/virtiofsd_test.go#L38

same issue with https://github.com/kata-containers/kata-containers/issues/712

# Expected result

	socketDir, err := ioutil.TempDir("", "")
	assert.NoError(err)
	defer os.RemoveAll(socketDir)

# Actual result

	socketDir, e

[2020-09-15 13:30] fgiudici opened #2951 "runtime: Add podman to data collection script"
`kata-collect-data.sh` should display podman details.

(cloned from https://github.com/kata-containers/kata-containers/issues/243)

[2020-09-15 14:17] ariel-adam commented on #2879
We are closing the issue for now.
Feel free to reopen once the information is provided.

[2020-09-15 14:17] #2879 closed

[2020-09-15 14:24] ariel-adam commented on #2890
@dgibson assigning it to you for now :-)

[2020-09-15 14:31] jodh-intel commented on #2834
We don't use go modules with Kata 1.x, but we do for Kata 2.0 (added on https://github.com/kata-containers/kata-containers/pull/199/commits/e54064895051e7e7f1ab8f84bdcd9a3e2e115c44 as part of https://github.com/kata-containers/kata-containers/pull/199).

Interestingly, although we use `go.mod` for 2.0, this `virtcontainers/pkg/cloud-hypervisor/client/go.mod` file does not exist in 2.0:

- https://

[2020-09-15 14:31] jodh-intel commented on #2834
So, is the solution to simply remove the `go.mod` file from this repo?

[2020-09-15 14:34] jodh-intel commented on #2893
@jongwu @justin-he - could you tal at this?

[2020-09-15 14:35] jodh-intel commented on #2893
Is this related to https://github.com/kata-containers/runtime/issues/1363?

[2020-09-15 14:39] c3d commented on #2893
This is probably related to the fact that cpu-add was depcrecated since qemu 4.0, and goes away in qemu 5.2.

See for example https://lists.nongnu.org/archive/html/qemu-devel/2020-09/msg05241.html.

I suspect we need to rework the CPU hotplug code to use cpu-add. Assigning to myself for now.

[2020-09-15 14:40] c3d commented on #2893
See also documentation here: https://qemu.readthedocs.io/en/latest/system/deprecated.html

[2020-09-15 16:45] jodh-intel opened #2952 "github: Remove issue template and use central one"
Remove the GitHub issue template from this repository. We already have a
central set of templates [1] that are being used so the template in this
repository is redundant.

[1] - https://github.com/kata-containers/.github/tree/master/.github/ISSUE_TEMPLATE/

[2020-09-16 01:56] jongwu commented on #2893
Hello @choury , can you give me more info about how to reproduce this bug? As far as I know "query-hotpluggable-cpus" is a qmp command to query if there is the ability to hotplug cpu. But unfortunately, cpu-hotplug has not been supported on arm64 both for kernel and qemu. So I think this error is normal.

[2020-09-16 02:12] choury commented on #2893
Just `docker run --cpus 4 myimage`

[2020-09-16 02:33] jongwu commented on #2893
Thanks @choury, I know this case, the root cause is cpu-hotplug has not been supported on arm64 for now. someone are working on that, see https://lkml.org/lkml/2020/6/25/434

[2020-09-16 03:10] liubin opened #2955 "CRI-O can't get OOMKilled status"
Now Kata containers support get OOM event from inside guest, and publish it as event to containerd, but not working with CRI-O.

CRI-O depends on file named `oom` under containers bundle directory to detect if an OOM event occurred.

This commit at `2.0-dev` branch will resolve this issue: https://github.com/kata-containers/kata-containers/commit/d7c77b69dc221195f66eb82799fd89f56ad24842

And also

[2020-09-16 10:17] liubin opened #2957 "Travis job has warnings"
Build config validation
- root: deprecated key sudo (The key `sudo` has no effect anymore.)
- root: key matrix is an alias for jobs, using jobs

We should clear this warnings.

[2020-09-16 12:31] keloyang opened #2959 "kata-runtime cannot kill container"
kata-runtime can't kill container
how to reproduce ?
just do an exception test, e.g. kill qemu-system-x86_64.

and then we can' see kata-runtime log,
[code]

kata-containers is exit but kubelet still think kata-container is ok,
[code]

[2020-09-17 06:06] arronwy commented on #2766
I think we can close this issue since virtio-fs docs already updated.

[2020-09-17 06:06] #2766 closed

[2020-09-17 12:03] #2925 closed

[2020-09-17 12:44] rhvgoyal commented on #2815
Proposed another patch set to fix this issue.

https://lore.kernel.org/linux-fsdevel/20200916161737.38028-1-vgoyal@redhat.com/

[2020-09-17 14:13] rhvgoyal commented on #2770
I would say use cache=auto. This expires cached dentries and inode attrs after a second. I am not sure what configuration you are running. I tried it and I can't see the problem.

- I ran virtiofsd with cache=auto.
- Mounted virtiofs with dax enabled.

After I remove file on host, I see it disappeared inside guest. And when I tried to recreate file, I could do that.

[2020-09-17 14:14] rhvgoyal commented on #2770
I am using latest fuse code from Miklos kernel repository.

https://git.kernel.org/pub/scm/linux/kernel/git/mszeredi/fuse.git/log/?h=for-next

[2020-09-17 15:34] cailca opened #2964 "Don't use hard-coded crio config"
# Description of problem
In show_container_mgr_details(), it used "cat /etc/crio/crio.conf" instead of "crio config".

[2020-09-17 15:37] cailca commented on #2964
Ok, in kata 1.0, it is in show_runtime_configs() where we have this hard-coding.

[2020-09-17 15:41] rhvgoyal commented on #2770
This works even without dax enabled. I think dax is irrelevant here. Its all about using right caching mode. cache=always means that guest cached data is always valid and never expires. While cache=auto means guest's cached data expires after 1 second. So if host changed something, that change is noticed in guest after 1 second.

[2020-09-17 21:32] eadamsintel commented on #2770
I did a quick check and with `virtio_fs_cache=auto` and the issue didn't happen anymore. If that is the new default setting, then I think this issue can be closed.

[2020-09-18 01:18] garygan89 opened #2966 "qemu-system-aarch64: This host does not support 42b IPA: maxram/slots options not usable: unknown."
# Get your issue reviewed faster

To help us understand the problem more quickly, please do the following:

1. Run the `kata-collect-data.sh` script, which is installed as part of Kata Containers.
[code]
1. Review the output file (`/tmp/kata.log`) to ensure it doesn't
   contain any private / sensitive information
1. Paste the *entire* contents of the file into this issue as a comment
   (the scri

[2020-09-18 01:18] garygan89 commented on #2966
[kata-collect.log](https://github.com/kata-containers/runtime/files/5242781/kata-collect.log)

[2020-09-18 01:57] Kvasscn opened #2967 "go test report warning in virtcontainers/device manager_test.go"
# Description of problem

when i run "go test -v -count=1 -run=TestAttachVFIODevice" in kata-containers/runtime/virtcontainers/device/manager dir , go test report warning:

=== RUN   TestAttachVFIODevice
**WARN[0000] Couldn't stat() configuration space file      dev-bdf="0000:00:1c.0" error="stat /sys/bus/pci/devices/0000:00:1c.0/config: no such file or directory" subsystem=device
WARN[0000] faile

[2020-09-18 07:16] fidencio commented on #2770
That's the new defalt, Eric.
Thanks for re-checking this, I'm closing the issue per your comment.

[2020-09-18 07:16] #2770 closed

[2020-09-18 23:16] egernst opened #2970 "kata doesn't take cpuset.mems into account when creating sandbox-cgroup"
cpuset.mems is never set.  The union of container cpuset.mems should be utilized when creating the sandbox cgroup.

[2020-09-18 23:18] egernst opened #2971 "If no CPU time restrictions are enforced, we should size VM according to cpusets.cpus"
If you run a container with Kata that is constrained *only* by cpusets, but not cpu.cfs_quota, it will not add any additional CPUs.  If cpu.cfs_quota is not specified for any of the containers, we should size the VM based on cpuset.cpus, if specified.

[2020-09-19 03:27] likebreath opened #2973 "clh: Update to cloud-hypervisor v0.10.0"
We got a new release of cloud-hypervisor earlier today. The latest release v0.10.0 contains the following updates: 1) `virtio-block` Support for Multiple Descriptors; 2) Memory Zones; 3) `Seccomp` Sandbox Improvements; 4) Preliminary KVM HyperV Emulation Control; 5) various bug fixes and refactoring.

[2020-09-19 22:57] bporter816 commented on #2785
Hi! @tommyrousey, @maomarcus, and @yasv123 and I are students at UT Austin, and we're looking to make some open source contributions over the course of the rest of the year as a part of our virtualization class. Could we be assigned to this issue?

[2020-09-19 22:59] bporter816 commented on #1807
Hi! @tommyrousey, @maomarcus, and @yasv123 and I are students at UT Austin, and we're looking to make some open source contributions over the course of the rest of the year as a part of our virtualization class. Could we be assigned to this issue? And could we have a bit of background on the code changes required for this issue?

[2020-09-19 22:59] bporter816 commented on #2650
Hi! @tommyrousey, @maomarcus, and @yasv123 and I are students at UT Austin, and we're looking to make some open source contributions over the course of the rest of the year as a part of our virtualization class. Could we be assigned to this issue?

[2020-09-21 14:48] jodh-intel opened #2975 "[Backport] runtime: make kata-check check for newer release"
Backport https://github.com/kata-containers/kata-containers/pull/735 (https://github.com/kata-containers/kata-containers/issues/734) to Kata 1.x.

[2020-09-21 15:54] devimc commented on #2966
cc @justin-he @Pennyzct

[2020-09-21 16:29] devimc commented on #2650
@bporter816 thanks, assigning this to you

[2020-09-21 17:40] cmaf commented on #1807
Hi @bporter816, thanks for your interest! I'm actively working on this issue. Could you please look at other issues in the backlog that are unassigned? https://github.com/orgs/kata-containers/projects/23#card-43371019

[2020-09-22 02:04] dgibson commented on #2664
The original report covers two problems.  The `isPCIeDevice` problem is already fixed with https://github.com/kata-containers/runtime/pull/2889.  So, update title to reflect this is just tracking the rescan problem.

[2020-09-22 08:38] lovebaby979 opened #2977 "how to cross build binary for arm64 on amd64 platform"
# Description of problem
how to build binary for arm64 on amd64 platform

build binary for arm64 on amd64（ubuntu18.04）
I update variable “golang_version_raw” in golang.mk， replace “amd64” to “arm64”, when make, report the errors:

(cd cli && GOARCH=arm64 go build  -buildmode=pie  -o /usr/local/gopath/src/github.com/kata-containers/runtime/kata-runtime .)
# github.com/kata-containers/runtime/cli
./

[2020-09-22 08:59] jodh-intel commented on #2977
Maybe @jongwu might have thoughts on how to do a cross-build like this.

[2020-09-22 09:32] jongwu commented on #2977
Hi @lovebaby979 . Good question. If your target is armv8, you can install cross toolchain(in ubuntu, just install gcc-aarch64-linux-gnu) first and try "export GOARCH=arm64 GOARM=""  CGO_ENABLED=1 CC=aarch64-linux-gnu-gcc && make" under kata-containers/runtime. more info see https://github.com/golang/go/wiki/GoArm. Good luck.

[2020-09-22 09:59] lovebaby979 commented on #2977
Thanks.

[2020-09-22 10:02] awprice opened #2978 "9pfs hangs when using certain images on 1.12.0-alpha1"
# Description of problem

When running the following pod spec under Kata 1.12.0-alpha1, we experience 9pfs "hanging" when trying to read files that are on the kataShared (9pfs) file system, i.e. `/etc/resolv.conf`.

I think this is an issue on QEMU 5.0, likely resolved in 5.1.

# Steps to reproduce

Run the following pod spec:

[code]

Once the pod is running, exec into the "sleep" pod and open a

[2020-09-22 10:09] jodh-intel commented on #2977
Hi @lovebaby979 - can we close this issue now?

[2020-09-22 13:25] devimc commented on #2978
@awprice thanks for raising this, have you tried to reproduce it using QEMU 5.1?
either way I'll bump QEMU to 5.1

[2020-09-22 14:14] devimc commented on #2494
fixed https://github.com/kata-containers/agent/pull/750

[2020-09-22 14:14] #2494 closed

[2020-09-22 14:17] ariel-adam commented on #2485
We switched to the upstream kernel and we don't have a QEMU repo thus we are closing this issue.

[2020-09-22 14:17] #2485 closed

[2020-09-22 14:23] c3d commented on #2485
virtio-mem is in the upstream kernel, see https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/?id=b3562c6087b585abba53d906f127d6fd5a92829c and in the upstream qemu, see https://github.com/qemu/qemu/commit/c22aba196341995f2e45c37eed36cc7be09e4bc3.

[2020-09-22 14:24] jodh-intel commented on #2508
Any update on this @likebreath?

[2020-09-22 14:30] jodh-intel commented on #4
Closing as this is a *very* old and nobody appears to be working on it.

[2020-09-22 14:30] #4 closed

[2020-09-22 14:35] jodh-intel commented on #2427
Hi @haircommander - would you like to tal at fixing this (by updating https://github.com/kata-containers/runtime/blob/master/versions.yaml)?

[2020-09-22 14:46] jodh-intel commented on #2513
Closing. Feel free to re-open if required. We are adding tracing to shimv2, which has the ability to log key/value pairs like the logging. This may be a better approach going forward.

[2020-09-22 14:46] #2513 closed

[2020-09-22 14:48] jodh-intel commented on #2514
@fidencio - could you comment on whether this is currently possible?

[2020-09-22 14:54] jodh-intel commented on #2527
Agreed that we should do some refactoring here. Any takers?

[2020-09-22 15:28] fidencio commented on #2514
This is yet not possible. I don't think we'll implement this in the short-term period. Next week (when I come back from staycation) I can check our documents, make this limitation explicit and move this one to the backlog.

@amshinde. would that work for you?

@jodh-intel, does the suggestion make sense?

[2020-09-22 23:39] awprice commented on #2978
@devimc I haven't had a chance to test it with 5.1 yet - I need to work out how to build QEMU first!

I'll post back here once I've tested it.

[2020-09-23 00:08] cmaf commented on #1807
@egernst Regarding your comments on `shimv2` being long running: I handle `StopTracing` in `Delete` and `Shutdown`. Can you clarify what you mean by suggesting that we close the given span at the end of the task-service handling? Do we **not** want to call `StopTracing`?

[2020-09-23 13:17] xiayuhai opened #2982 "build with go 1.15.2, createContainer failed: Setctty set but Ctty not valid in child"
kata-runtime is built with go 1.15.2, and there were some modifications made in the syscall package in Go 1.15.0
Error message: `createContainer failed: Setctty set but Ctty not valid in child`,
and it looks like the same with [https://github.com/cespare/reflex/issues/77]

[2020-09-23 13:54] c3d opened #2983 "metrics CI job is failing, blocking issue merging"
# Description of problem

Some PRs, like for example https://github.com/kata-containers/runtime/pull/2891, are blocked due to the CI failing. The jenkins-metrics-ubuntu-18-04 job is failing, and this is not directly related to these CRs.

Example of failure: http://jenkins.katacontainers.io/job/kata-metrics-runtime-ubuntu-18-04-PR/2069/console.
[code]

# Expected result

CI metric repaired, or roo

[2020-09-23 13:56] devimc commented on #2983
@GabyCT is working on this - issue https://github.com/kata-containers/tests/issues/2839

[2020-09-23 23:08] #2912 closed

[2020-09-23 23:40] #2882 closed

[2020-09-24 00:44] #2977 closed

[2020-09-24 07:54] c3d commented on #2983
@GabyCT I assigned this one to you, since @devimc pointed out you were working on it. Please feel free to close as a duplicate if you think it's the same thing. Thanks.

[2020-09-24 09:33] c3d commented on #2983
@jodh-intel I propose to add a new temporary flag, "blocked-by-metrics", to flag PRs that are blocked by this.

[2020-09-24 10:14] jodh-intel commented on #2697
Ping @dgibson

[2020-09-24 10:16] jodh-intel commented on #2697
Assigning @amshinde as she is the main author of https://github.com/kata-containers/documentation/blob/master/use-cases/using-SRIOV-and-kata.md.

[2020-09-24 15:29] GabyCT commented on #2983
It looks like https://github.com/kata-containers/packaging/commit/3d2bb461eab80fe5a1f61ea96ced8c27451fb7e7 introduced the regression

[2020-09-24 20:10] GabyCT commented on #2983
To increase memory limits PR https://github.com/kata-containers/tests/pull/2840

[2020-09-24 20:44] egernst opened #2987 "We should allow default memory for VM to be < 256 MB"
# Description of problem

In toml, set the default memory size to 128 MB, and start a VM

# Expected result

VM should be default memory size + memory requested by the container workload(s).

# Actual result

It'll be 2048 + memory requested

# Further information

In general case with QEMU, this isn't a major problem, since we'll just eat the extra page tables overhead, and only consume pages whe

[2020-09-24 21:50] GabyCT commented on #2983
The PR got merged this issue should be resolved now

[2020-09-24 21:50] #2983 closed

[2020-09-24 22:05] amshinde commented on #2983
@c3d We will need to rerun the metrics job for the pending PRs with /test-ubuntu-qemu-metrics command.

[2020-09-25 06:58] dgibson commented on #2697
Actually I already have code for this, assigning myself.

A draft was in an earlier push of https://github.com/kata-containers/agent/pull/845, though it needs a bit of revision and I'm going to pull it out of that issue into another.

[2020-09-25 14:01] #2970 closed

[2020-09-25 14:01] #2971 closed

[2020-09-25 19:25] likebreath commented on #2545
@amshinde @jcvenegas I just updated this mega issue (summary) and also its sub-issues. Please feel free to make changes as you find necessary. Any questions or comments, please let me know. Thanks.

[2020-09-27 06:48] RyanAoh commented on #2879
Hi @free2k,  have you solved this?
The same problem encounts to me now.

[2020-09-27 06:58] mappjzc commented on #2879
I have add "return nil" when the failed to ping to agent happened
and into the VM to see the agent.
There is one thread of kata-agent keep 100% cpu cost
And when  I cat /proc/{pid}/task/{tid}/stack
it print:

[<0>] __x64_sys_sched_yield+0x9/0x10
[<0>] do_syscall_64+0x8b/0x2e0
[<0>] entry_SYSCALL_64_after_hwframe+0x44/0xa9
[<0>] 0xffffffffffffffff

Is there anyone know where agent to call this syst

[2020-09-28 00:32] edmond-hk opened #2989 "upgrade qemu version to v5.1.0 for arm64"
qemu version is so old on arm side, so it's better to upgrade it.

[2020-09-28 09:38] choury commented on #2893
@jongwu Thank you for your reply,  but this indeed makes things more difficult  to use kata on arm64.

[2020-09-28 09:48] jongwu commented on #2893
@choury yeah, cpu hotplug is really an important feature. Maybe I can enable an experimental one for kata on arm64.  I need investigate on that. Thank you.

[2020-09-28 10:21] jodh-intel commented on #2879
@mappjzc - please open a fresh issue and provide the details requested rather than commenting on a closed issue.

[2020-09-28 10:36] jodh-intel commented on #2545
@likebreath - should this be release-gating (for 2.0)?

[2020-09-28 15:06] YvesChan opened #2992 "shim cannot be shutdown due to container list not empty"
We encountered a rare situation recently. When the PodContainer bootup time becomes longer enough due to some reason, it may cause containerd to call the shim `create()` interface to time out and fail. However, because the containerd's grpc call has timed out and return, the shim side continues to execute, and successfully creates a container instance and writes it to the shim service container li

[2020-09-28 17:23] likebreath commented on #2545
@jodh-intel I don't think so, given major missing items are mostly for improvements, e.g. fixing enabling the skipped k8s/docker tests and extending CI coverage (mainly in kata 2.0), etc. wdyt? @amshinde @jcvenegas

[2020-09-29 09:09] #2964 closed

[2020-09-29 17:41] #2975 closed

[2020-09-29 19:33] #2973 closed

[2020-09-30 00:50] magnate3 opened #2995 "qemu-system-aarch64: rom check and register reset failed: unknown"
my os is:
root@ubuntu:~# uname -a
Linux ubuntu 5.0.0-23-generic #24~18.04.1-Ubuntu SMP Mon Jul 29 16:10:24 UTC 2019 **aarch64** aarch64 aarch64 GNU/Linux
root@ubuntu:~#

docker run --rm -it --runtime kata-runtime busybox uname -r
docker: Error response from daemon: OCI runtime create failed: failed to launch qemu: exit status 1, error messages from qemu log: rom: requested regions overlap (rom /us

[2020-09-30 07:44] jodh-intel commented on #2995
Thanks for raising @magnate3. It would be very helpful if you could:

1. [Enable full debug](https://github.com/kata-containers/documentation/blob/master/Developer-Guide.md#enable-full-debug).
1. Re-run the command.
1. Run `sudo kata-collect-data.sh`
1. Review the output to ensure it doesn't contain any private / sensitive information.
1. Paste it into this issue.

That would help us understand th

[2020-09-30 07:59] jongwu commented on #2995
Hi @magnate3, thanks for raising this issue. I wander how do you build the binary "qemu-system-aarch64".  Also you can reinstall your qemu using install_qemu.sh under kata-containers/tests/.ci to see if this issue is gone.

[2020-10-01 15:32] jamesodhunt commented on #341
Hi - this issue is labelled `release-gating` but doesn't have an associated PR.

Please can you comment on the status of this item so we know if it could be
included in the [upcoming 2.0 release](https://github.com/kata-containers/kata-containers/wiki/Kata-Containers-2.0-Roadmap)?

[2020-10-01 15:32] jamesodhunt commented on #557
Hi - this issue is labelled `release-gating` but doesn't have an associated PR.

Please can you comment on the status of this item so we know if it could be
included in the [upcoming 2.0 release](https://github.com/kata-containers/kata-containers/wiki/Kata-Containers-2.0-Roadmap)?

[2020-10-01 15:32] jamesodhunt commented on #594
Hi - this issue is labelled `release-gating` but doesn't have an associated PR.

Please can you comment on the status of this item so we know if it could be
included in the [upcoming 2.0 release](https://github.com/kata-containers/kata-containers/wiki/Kata-Containers-2.0-Roadmap)?

[2020-10-01 16:08] evanfoster commented on #1279
Is there a chance that the jump to QEMU 5.0 broke this? I'm having time-sync issues running on a 4.19 x86 box, running Kata 1.11.3 with QEMU 5.0.

[2020-10-01 16:39] jodh-intel commented on #1279
@evanfoster - could you provide further details of the sync issues? Do you get errors from `chrony` or is the time just wrong or drifting? (if so how much?)

[2020-10-01 16:39] jodh-intel commented on #1279
@evanfoster - might be worth raising a fresh issue on it and referencing this one.

[2020-10-01 16:50] evanfoster commented on #1279
Hey @jodh-intel ,

I haven't set up a debug image to test this yet, so I'm not sure if `chrony` is unhappy. Will I have to create a debug image? Or can I just bump up the log levels to debug?

I'm seeing time drift issues, but the time may also be incorrect on startup. I've had some folks report a 20 second discrepancy on pod start (which breaks their application, they need ±2 seconds), and I have

[2020-10-02 09:50] jodh-intel commented on #2901
@likebreath - I think we can close this issue now?

[2020-10-02 16:42] #2952 closed

[2020-10-02 18:20] #2569 closed

[2020-10-05 08:20] jodh-intel commented on #1279
Hi @evanfoster - yes, you'll need to build a debug image as documented in https://github.com/kata-containers/documentation/blob/master/Developer-Guide.md#set-up-a-debug-console. However, you could just [enable full debug](https://github.com/kata-containers/documentation/blob/master/Developer-Guide.md#enable-full-debug) as a first step to see if that gives you anything interesting in the logs.

I h

[2020-10-05 16:14] jcvenegas opened #2999 "virtiofs: Disable DAX by default"
As pointed out by @cailca.  It is premature (on our side) to use DAX enabled for now, also because of what was raised here: http://lists.katacontainers.io/pipermail/kata-dev/2020-October/001539.html

_Originally posted by @fidencio in https://github.com/kata-containers/runtime/pull/2997#issuecomment-703711408_

[2020-10-05 16:59] jodh-intel opened #3000 "re-vendor govmm"
Revendor govmm using the new Kata URL once govmm has been moved into the Kata GitHub org.

See: https://github.com/kata-containers/kata-containers/issues/858

[2020-10-05 20:47] evanfoster commented on #1279
Can do! It might be a few days, however.

[2020-10-05 23:21] #2176 closed

[2020-10-06 19:12] likebreath commented on #2508
Closing the issue now given not many discussions/inputs are collected for the potential refactoring.

[2020-10-06 19:12] #2508 closed

[2020-10-07 00:17] likebreath opened #3001 "clh: Consolidate the code path for device unplug"
In cloud-hypervisor, it provides a single unified way of unplugging devices, e.g. the `/vm.RemoveDevice` HTTP API. Taking advantage of this API, we can simplify our implementation of `hotplugRemoveDevice` in `clh.go`, where we can consolidate similar code paths for different device unplug (e.g. no need to implement `hotplugRemoveBlockDevice` and `hotplugRemoveVfioDevice` separately). We will only

[2020-10-07 03:35] dgibson commented on #3001
Fwiw, I believe we could make the qemu paths for unplugging much more unified too.  It'll probably take me a while before I can look at that, though.

[2020-10-07 18:57] dagrh commented on #2829
The current Kata and ucrrent QEMU work together OK these days; they have matching command lines.
The actual original 16.04 related crash was fixed ages ago (falling back to SCMP_ACT_TRAP even if the headers have ACT_KILL_PROCESS).
Mixing a virtiofsd with a cloudhypervisor is probably a more interesting question; I'd stick with the rust replacement for virtiofsd when using CH.

[2020-10-07 22:16] likebreath commented on #2901
@jodh-intel Let's keep this one before I do more experiments on whether the `seccomp filter` is now sufficient to run all the workload from kata's CI jobs. Also, as @amshinde advises, we will also provide an option for users to enable and disable the `seccomp filter`.

[2020-10-08 03:24] dgibson opened #3002 "PCI paths handling is confusing in the code"
This is a code clarity and extensibility issue, rather than a problem in behaviour.

# Description of problem

A number of places in the runtime code use values described as a "PCI address" but which are not actuall in PCI address format (DDDD:BB:DD.F).  Rather they are "PCI paths" - that is a description of the location of a device based on its slot number and the slot number of all the bridges t

[2020-10-08 21:38] #2999 closed

[2020-10-09 01:24] magnate3 commented on #2995
I compile and install qemu like this

[2020-10-09 03:13] jongwu commented on #2995
@magnate3 - can you show me the qem command line when start kata-container and kata configuration lies in /usr/share/defaults/kata-containers/configuration.toml or /etc/kata-containers/configuration.toml? also I want to know the size in byte of the initrd.img you choose to use. Thanks.

[2020-10-09 04:57] magnate3 commented on #2995
**1、 start kata**

root@ubuntu:~#  docker run --rm -it --runtime kata-runtime busybox uname -r
docker: Error response from daemon: OCI runtime create failed: Failed to check if grpc server is working: rpc error: code = Unavailable desc = transport is closing: unknown.

2、the size   of the initrd.img
root@ubuntu:~# du -sh /usr/share/kata-containers/*

240M    /usr/share/kata-containers/kata-contain

[2020-10-09 05:30] jongwu commented on #2995
thanks @magnate3, I think it's not easy to catch the qemu command line. you can start two terminal, one for running "while true; do ps aux|grep qemu; done" the other for running kata. I think the qemu command line will be very useful.
you can try kata-collect-data.sh and paste the log here to see the full kata log.

what's more, the qemu used in kata for arm64 is fixed at a certain version and app

[2020-10-09 06:12] magnate3 commented on #2995
**root@ubuntu:/home/ubuntu# docker run --rm -it --runtime kata-runtime busybox uname -r**
docker: Error response from daemon: OCI runtime create failed: Failed to check if grpc server is working: rpc error: code = Unavailable desc = transport is closing: unknown.
root@ubuntu:/home/ubuntu# kata-collect-data.sh > /tmp/kata-collect-data.log
root@ubuntu:/home/ubuntu#

**root@ubuntu:/home/ubuntu# journ

[2020-10-09 08:00] jongwu commented on #2995
Thanks @magnate3 - I try running kata using your config, it works well. I can't see when kata failed as the log only print the error message. use journalctl -r -t kata-runtime and journalctl -r -t kata-proxy to see the full log.
You can try snap to install kata. try "snap install kata-containers --classic". If it works, there maybe something wrong with your manual installation, otherwise, your hos

[2020-10-09 09:28] magnate3 commented on #2995
could you give me you kernel  and image ?
my email is : liangeaglejun@126.com

[2020-10-09 09:54] magnate3 commented on #2995
journalctl -r -t kata-proxy

Oct 09 17:28:45 ubuntu kata-proxy[45639]: time="2020-10-09T17:28:45.012950507+08:00" level=fatal msg="failed to ha
ndle exit signal" error="close unix @->/run/vc/vm/06c84519927a671eccb17c60a8680eba748005aeb88a02f09d2e297fb1284936
/kata.sock: use of closed network connection" name=kata-proxy pid=45639 sandbox=06c84519927a671eccb17c60a8680eba74
8005aeb88a02f09d2e297fb128

[2020-10-09 09:56] magnate3 commented on #2995
my os is
root@ubuntu:~# uname -a
Linux ubuntu 5.0.0-23-generic #24~18.04.1-Ubuntu SMP Mon Jul 29 16:10:24 UTC 2019 aarch64 aarch64 aarch64 GNU/Linux
root@ubuntu:~# cat /etc/os-release
NAME="Ubuntu"
VERSION="18.04.3 LTS (Bionic Beaver)"
ID=ubuntu
ID_LIKE=debian
PRETTY_NAME="Ubuntu 18.04.3 LTS"
VERSION_ID="18.04"
HOME_URL="https://www.ubuntu.com/"
SUPPORT_URL="https://help.ubuntu.com/"
BUG_REPORT_UR

[2020-10-09 09:58] jongwu commented on #2995
@magnate3 ok, I will send you all the modules.

[2020-10-09 10:04] jodh-intel commented on #2995
It would be interesting to see the result of:

[code]

[2020-10-09 11:11] magnate3 commented on #2995
I plan to reinstall qemu but failed

package github.com/kata-containers/packaging: no Go files in /opt/gopath/src/github.com/kata-containers/packaging
/opt/gopath/src/github.com/qemu/qemu /opt/gopath/src/github.com/kata-containers/tests/.ci
Applying patch: /opt/gopath/src/github.com/kata-containers/packaging/obs-packaging/qemu-aarch64/patches/0001-arm-enable-cold-plug-nvdimm-using-DT.patch
patchin

[2020-10-09 11:22] magnate3 commented on #2995
I use your qemu and kernel \rootsfs 、kata-runtime, and get the following error info
docker run --rm -it --runtime kata-runtime busybox uname -r
docker: Error response from daemon: OCI runtime create failed: fork/exec /usr/libexec/kata-containers/kata-shim: Setctty set but Ctty not valid in child: unknown.

[2020-10-09 11:41] jodh-intel commented on #2995
If you have enabled debug, to get the `qemu` arguments, just run the following after your `docker run` call:

[code]

[2020-10-09 11:44] jodh-intel commented on #2995
@magnate3 - another thing you can try is to simplify your environment by running *without* a container manager (Kata 1.x only):

- https://github.com/kata-containers/documentation/blob/master/Developer-Guide.md#running-standalone

It's very quick and easy to do ;)

[2020-10-09 14:23] #2989 closed

[2020-10-09 16:06] c3d opened #3004 "Validate annotations that refer to binaries"
The description of the problem is in https://bugs.launchpad.net/katacontainers.io/+bug/1878234.

This issue is a placeholder to allow the fixes to be submitted.

It also contains a fix for #2943

[2020-10-10 00:58] magnate3 commented on #2995
@jongwu ， I use your qemu and kernel \rootsfs 、kata-runtime、qemu，the kata can  run successfully. thank you very much

[2020-10-10 12:11] jongwu commented on #2995
thanks @magnate3 - I will close this issue, feel free to reopen it if needed afterwards.

[2020-10-12 05:54] #2948 closed

[2020-10-12 05:58] #2957 closed

[2020-10-12 05:58] #2955 closed

[2020-10-12 06:48] wenbinzeng opened #3006 "virtio-fs cache problem?"
# Description of problem

Steps to reproduce the problem:

1. install docker with kata static tarball -- https://github.com/kata-containers/runtime/releases/download/1.11.3/kata-static-1.11.3-x86_64.tar.xz
2. cd /opt/kata/share/defaults/kata-containers; ln -s configuration-qemu-virtiofs.toml configuration.toml
3. docker run --rm -ti centos:7 bash
4. execute the following command in container: yum

[2020-10-12 06:53] fidencio commented on #3006
Adding @dagrh to the loop.

[2020-10-12 09:22] lienching commented on #2966
This issue can be workaround by using the stock version of qemu that install from `apt-get install qemu`

[2020-10-12 13:37] justin-he commented on #2966
cc @jongwu

Hi @garygan89 We recommend to use host kernel v5.0 or above because there are several new features.

[code]
As for the direct cause from the log is this commit:
commit 233a7cb235318223df8133235383f4c595c654c1
Author: Suzuki K Poulose <suzuki.poulose@arm.com>
Date:   Wed Sep 26 17:32:54 2018 +0100

    kvm: arm64: Allow tuning the physical address size for VM

    Allow specifying the p

[2020-10-12 19:03] likebreath commented on #2908
Close the issue in favor of #3002

[2020-10-12 19:03] #2908 closed

[2020-10-13 01:33] zqzzq opened #3007 "Failed to create pod when using VMCache"
# Get your issue reviewed faster

To help us understand the problem more quickly, please do the following:

1. Run the `kata-collect-data.sh` script, which is installed as part of Kata Containers.
[code]
1. Review the output file (`/tmp/kata.log`) to ensure it doesn't
   contain any private / sensitive information
1. Paste the *entire* contents of the file into this issue as a comment
   (the scri

[2020-10-13 01:33] zqzzq commented on #3007
<details>
<summary>Show <tt>kata-collect-data.sh</tt> details</summary>
<p>

# Meta details

Running `kata-collect-data.sh` version `1.12.0-alpha1 (commit 2be92dd721363a9d204bb67b3276dde596b7d090)` at `2020-10-12.17:29:31.483869521+0800`.

---

Runtime is `/usr/local/bin/kata-runtime`.

# `kata-env`

Output of "`/usr/local/bin/kata-runtime kata-env`":
[code]

---

# Runtime config files

## Runtim

[2020-10-13 02:56] xiaogr opened #3008 "cloud-hypervisor can not work on Kata Containers 1.11.3"
Hi,

I was trying to use clh as kata's hypervisor, however, the sandbox failed to start.
After some rough debug, i noticed it failed at:

func (clh *cloudHypervisor) bootVM(ctx context.Context) error {

	cl := clh.client()

	if clh.config.Debug {
		bodyBuf, err := json.Marshal(clh.vmconfig)
		if err != nil {
			return err
		}
		clh.Logger().WithField("body", string(bodyBuf)).Debug("VM config")
	}

[2020-10-13 06:58] jodh-intel commented on #3007
/cc @teawater, @bergwolf

[2020-10-13 11:46] wenbinzeng opened #3012 "running systemd in container caused 9pfs / remounted read-only"
# Description of problem

Steps to reproduce the problem:

1. install docker with kata static tarball -- https://github.com/kata-containers/runtime/releases/download/1.11.3/kata-static-1.11.3-x86_64.tar.xz
2. docker run --rm -ti --cap-add=ALL -d centos/systemd /usr/sbin/init

# Expected result

Expect to see the file systems mounted in rw mode as same as non-systemd containers:

$ docker run --rm

[2020-10-13 14:33] ariel-adam commented on #2544
@likebreath is this still relevant?

[2020-10-13 14:35] jodh-intel commented on #2557
@likebreath - can you comment on this?

[2020-10-13 14:36] ariel-adam commented on #2557
We decided we want to keep this open as part of the backlog

[2020-10-13 14:38] ariel-adam commented on #2558
@hejianet is this still relevant? do we know what the actual performance impact is?

[2020-10-13 14:42] jodh-intel commented on #2558
I'm going to close this since, as shown on the commits referenced by #2576, we removed the hard-coded `pmu=off`. You can now specify `pmu` options in the `configuration.toml` config file in the `cpu_features=` option (the comments even show a pmu example).

[2020-10-13 14:42] #2558 closed

[2020-10-13 15:38] likebreath commented on #2557
@jodh-intel @ariel-adam Thanks for reviewing the issue. Yes, I agree we should keep this issue open. This is a feature we may want to enable w/ kata+clh (yet with a lower priority).

[2020-10-14 02:31] evanfoster commented on #2518
I've been keeping the config-only version of this up to date in my fork, and I'd love to see it upstreamed if possible. I'm still not sure if I'd be able to support annotations, however.

[2020-10-14 07:34] #2992 closed

[2020-10-14 09:52] liubin commented on #3007
Hi @zqzzq , can you post the Kata runtime's log by command like this:

[code]

It's will be very helpful.

[2020-10-14 10:28] zqzzq commented on #3007
@liubin the all debug log when I created pod:
[code]

[2020-10-14 19:11] evanfoster opened #3014 "/dev/ptp0 is missing in Kata 1.11.3 VMs, leading to clock skew"
# Description of problem

`/dev/ptp0` is missing when launching a Kata pod using Kata 1.11.3. Because this is missing, `chronyd` can't function and we get clock skew.

I built a debug image and consoled into a running Kata VM. Chronyd wasn't running:
[code]

Here's the output of `dmesg`:
<details>
<summary> Show <tt>dmesg</tt> output</summary>
<p>

[code]

</p>
</details>

`/var/lib/osbuilder/osbu

[2020-10-14 19:11] evanfoster commented on #3014
<details>
<summary>Show <tt>kata-collect-data.sh</tt> details</summary>
<p>

# Meta details

Running `kata-collect-data.sh` version `1.11.3 (commit d6883bdaeeb98a8921ac215533b780d697d6883a)` at `2020-10-14.17:04:48.149973033+0000`.

---

Runtime is `/opt/kata/bin/kata-runtime`.

# `kata-env`

Output of "`/opt/kata/bin/kata-runtime kata-env`":
[code]

---

# Runtime config files

## Runtime default

[2020-10-14 21:30] evanfoster commented on #3014
Woah, this might not be QEMU 5.0 related, actually. I'm able to reproduce the same issue with the officially supported version of QEMU for 1.11.3:
[code]

[2020-10-14 21:40] #2987 closed

[2020-10-15 05:23] dgibson opened #3015 "make tests can fail due to github ratelimiting"
# Description of problem

`make tests`, among other things, invokes `kata-runtime kata-check`, which checks the Kata release using the API at `https://api.github.com/kata-containers/runtime/releases`.  When doing a bunch of `make tests` runs while wrigint some new unit tests, I hit this problem.

# Expected result

`make tests` succeeds, and in particular doesn't depend on external network resourc

[2020-10-15 09:33] jodh-intel commented on #3015
Thanks for reporting @dgibson. The solution for you is probably to simply set [`KATA_CHECK_NO_NETWORK`](https://github.com/kata-containers/runtime/blob/master/cli/kata-check.go#L76) to any value to disable the `kata-check` networking check.

We might want to do that in the CI potentially @GabyCT?

[2020-10-15 21:38] egernst commented on #3014
hey @evanfoster the kernel change wasn't back ported to 1.11.  TAL @ https://github.com/kata-containers/packaging/commit/c2023a217d57adbf3c74f62f35f962badcfb60ee

[2020-10-15 22:16] evanfoster commented on #3014
Looks like that was it! I rebuilt `vmlinuz-kata-v5.6-april-09-2020-75-virtiofs` with an additional config snippet and I'm now seeing `chronyd` up and going in the container.

We'll probably want to backport this to 1.11, right?

[2020-10-16 00:12] dgibson commented on #2433
IMO, best left to Kata 2.

[2020-10-16 06:18] jongwu opened #3016 "correct bridge type for QEMUVIRT machine on arm64"
the device pcie-pci-bridge in qemu will create a pci bus not a pcie bus. should be correct.

[2020-10-16 08:46] fidencio commented on #3014
Forward port to 2.0-dev: https://github.com/kata-containers/packaging/pull/1159
Backport to 1.11: https://github.com/kata-containers/packaging/pull/1160

[2020-10-16 17:07] GabyCT opened #3018 "kata-runtime not respecting CPU flags with docker"
I am trying to run a container with kata-runtime but I see that is not respecting the CPUs flags.
For example
[code]
It is only giving one core id, it seems it is not respecting the cpu flags like RUNC.

Also when I tried to run a container using the following

[code]
the test will only run in 1 cpu, again kata is not respecting the cpu flag like RUNC.

/cc @amshinde @jcvenegas @likebreath

[2020-10-16 17:08] GabyCT commented on #3018
/cc @egernst

[2020-10-16 22:30] likebreath commented on #3018
@GabyCT Would you mind share more about your setup, also the complete `cpuinfo` from  the container?

I tried the current kata-runtime [master](https://github.com/kata-containers/runtime/commit/cb196de50180fdb212551713c600fb1c861be56e) and run the following container (very similar to yours):

`docker run --rm -ti --privileged --cpus=24 --runtime=kata-runtime ubuntu bash`

Inside the container I ra

[2020-10-16 22:48] egernst commented on #3018
What version of Kata? Master? this should work with this PR: https://github.com/kata-containers/runtime/pull/2972

[2020-10-17 00:19] egernst commented on #3018
I see that cpuset is getting set to 0 in the docker CLI case.

This works okay in the kube / pod scenario, since cpuset is cleared during the 'update' call.

We should take a look addressing it on the single container / docker cli case.

[2020-10-17 01:07] #2921 closed

[2020-10-19 20:01] GabyCT commented on #3018
The kata version that I am using is
[code]
I am using a mysql benchmark. And what I see is that RUNC is running it with a CPU Utilization of > 90%. Here it is a screenshot of `htop` inside the container
![image](https://user-images.githubusercontent.com/20359065/96505354-9baaa180-121b-11eb-9606-c173d66444ee.png)

Running the same benchmark with kata-runtime seems that is not triggering correctly a

[2020-10-19 23:55] #2914 closed

[2020-10-20 02:04] nimajafroodi opened #3021 "POD creation fails with read-only file system"
# Get your issue reviewed faster

To help us understand the problem more quickly, please do the following:

1. Run the `kata-collect-data.sh` script, which is installed as part of Kata Containers.
[code]
1. Review the output file (`/tmp/kata.log`) to ensure it doesn't
   contain any private / sensitive information
1. Paste the *entire* contents of the file into this issue as a comment
[kata.log](h

[2020-10-20 07:59] magnate3 opened #3022 "fail to run io.containerd.run.kata.v2 with virtiofsd"
[root@bogon hyper]# ctr run --runtime io.containerd.run.kata.v2 -t --rm docker.io/library/nginx:alpine sh
ctr: error: 500  reason: VmBoot(VmBoot(DeviceManager(MemoryManager(SetUserMemoryRegion(SetUserMemory(Operation not permitted (os error 1))))))): unknown

[2020-10-20 08:38] jodh-intel commented on #3022
Hi @magnate3 - Thanks for raising. But, again, you haven't provided the information asked for in the [template](https://github.com/kata-containers/.github/blob/master/.github/ISSUE_TEMPLATE/bug_report.md#get-your-issue-reviewed-faster) :smile:

As you can imagine, debugging problems like this is not easy and can take a lot of time. But it's almost impossible unless we know more about your environm

[2020-10-20 14:10] jodh-intel commented on #2433
@dgibson - would you like to look at this with @c3d?

[2020-10-20 14:13] jodh-intel commented on #2518
@evanfoster - can you create an RFC PR for us to look at and comment on?

/cc @egernst for thoughts too.

[2020-10-20 14:56] devimc commented on #2634
https://github.com/kata-containers/kata-containers/pull/972 replaces this issue

[2020-10-20 14:56] #2634 closed

[2020-10-20 15:12] jodh-intel commented on #2622
Hi @fidencio - This isn't a complete solution but we do now [generate a single file and symlink it](https://github.com/kata-containers/runtime/commit/ad78c6fabe20cfcfe0d9f749f4b40c285e330b3f). If that's sufficient, can we close this?

[2020-10-20 15:32] jodh-intel commented on #2618
Hi @EastonLee - If this is still a problem for you, please could you try this with [Kata 2.0](https://github.com/kata-containers/kata-containers/releases/tag/2.0.0) which uses virtio-fs rather than 9p by default? Alternatively, feel free to close if not an issue any more.

[2020-10-21 12:11] xiaogr commented on #3008
anyone has comment? :-S

[2020-10-21 12:27] devimc commented on #3008
cc @likebreath

[2020-10-21 16:09] GabyCT commented on #3004
@c3d , I see at the kata-collect the following failures
[code]
[code]

[2020-10-21 16:10] GabyCT commented on #3004
In the CI's that are failing ...I see in the logs
# Runtime config files

## Runtime default config files

[code]

## Runtime config file contents

Config file `/etc/kata-containers/configuration.toml` not found
Config file `/usr/share/defaults/kata-containers/configuration.toml` not found

---

# KSM throttler

## version

Output of "` --version`":
[code]

[2020-10-21 16:12] GabyCT commented on #3004
is that expected?

[2020-10-21 16:14] c3d commented on #3004
@GabyCT No, not expected. Looking. I guess I was not looking at the right spot. Which log is this in?

[2020-10-21 18:41] likebreath commented on #3008
@xiaogr Excuse for the delayed response. In case you missed it, Kata `1.11.3` is a stable release to older versions, while the [`1.12.0-alpha1`](https://github.com/kata-containers/runtime/releases/tag/1.12.0-alpha1) is the latest release.

I would advise you to setup the latest release of kata w/ [`kata-deply`](https://github.com/kata-containers/packaging/tree/master/kata-deploy). The kata-deploy

[2020-10-22 02:06] jongwu opened #3027 "let cloud-hypervisor config build for arm64"

[2020-10-22 03:12] jongwu opened #3029 "keep caution to use golang 1.15.x to compile kata"
There maybe a bug or incompatible issue in golang 1.15.x.
If you happen to see the error log "Error response from daemon: OCI runtime create failed: fork/exec /usr/libexec/kata-containers/kata-shim: Setctty set but Ctty not valid in child: unknown" when run kata, just update your golang version forward or backward and recompile.

someone complains about it, I'm not sure if it is always happen, so

[2020-10-23 16:39] egernst commented on #3018
Not a real solution, but I'm curious if you can run same benchmark using `ctr`, `crictl` or Kubernetes?

There's an issue with our handling with docker cli for cgroups in the guest.

[2020-10-26 13:26] #3016 closed

[2020-10-26 17:31] nimajafroodi commented on #3021
A gentle reminder for this issue

[2020-10-26 17:37] devimc commented on #3021
did you try adding `rw` to the kernel cmdline?

https://github.com/kata-containers/runtime/blob/master/cli/config/configuration-qemu.toml.in#L30

configuration files: /etc/kata-containers/configuration.toml   or   /usr/share/default/kata-containers/configuration.toml

[2020-10-26 18:04] nimajafroodi commented on #3021
Yes and that didn't resolve the problem. What is strange is that I don't get this error using CRI-O + kata-runtime directly on the host. The error happens when running CRIO and kata-runtime inside another containerized environment like docker. Do you happen to have any documentation on how to run kata-runtime inside a docker environment that is already spawned with runc? Is there any technical iss

[2020-10-26 18:41] devimc commented on #3021
afaik, No, there is no document, are you running the runC container with --privileged? I think you need it.
Take a look to these two issues, might be you can find something useful
https://github.com/kata-containers/runtime/issues/2618
https://github.com/kata-containers/runtime/issues/358

[2020-10-26 21:00] nimajafroodi commented on #3021
Yes.

[2020-10-26 21:01] nimajafroodi commented on #3021
Thanks for the posted links. I will get back to you after reading those posts.

[2020-10-27 21:32] gkunz opened #3030 "Pod annotations for selecting a custom hypervisor binary not working"
# Problem
We have a use case in which we'd like to select custom components of the the Kata sandbox (kernel, image, hypervisor) using pod annotations. Following the corresponding documentation [1], setting the kernel and image via pod annotations works fine, but the custom hypervisor binary gets ignored and instead the default hypervisor as configured in the config file is used.

Example workload

[2020-10-28 02:50] mappjzc commented on #3029
I have meet the same error when I update the golang version from 1.14.1 to 1.15.3 for fixed a golang lib error.

And I grep the "Setctty set but Ctty not valid in child" In my $GOROOT

It error in this file "/usr/local/go/src/syscall/exec_unix.go"

[2020-10-28 02:58] mappjzc commented on #3029
your said "update golang version backward"
Can you tell me which golang version backward 1.15.3 and have fiexd this error?

[2020-10-28 03:06] jongwu commented on #3029
I'm glad to see this issue can help someone. I downgrade the golang to 1.14 and the error is gone. so you can try it.

[2020-10-28 10:19] jodh-intel commented on #3030
Thanks for raising @gkunz. I can confirm this behaviour.

[2020-10-28 14:32] c3d commented on #3030
I had noticed the discrepancy while working on #3005. I should have asked, I assumed there was something intentional in the list given in `addAssetAnnotations`.

[2020-10-28 15:06] #3002 closed

[2020-10-28 16:32] rhafer commented on #2611
IIUC this can be attributed to this commit in containerd: https://github.com/containerd/containerd/commit/b5ccc66c2c814cfc21d58678c854272427814b59#diff-6a93af2fa6a81ffa3592c6ba4c7f628976e9ac0363a9532589b0fc96f3059ad1
which is vendored into newer docker releases. Basically with that containerd will no longer endup calling `kata-runtime kill --all ....` but `kata-runtime delete ...` when the QEMU pr

[2020-10-29 03:29] dgibson opened #3032 "listInterfaces() will fail to report errors from convertToInterfaces()"
# Description of problem

Problem pointed out by @amshinde at https://github.com/kata-containers/runtime/pull/3003#pullrequestreview-518972885

In #3003 we allowed `convertToInterfaces()` to fail, but a bug in the implementation means that `listInterfaces()` doesn't properly propagate an error here to the caller.

# Expected result

Errors reported by `convertToInterfaces()` are reported to the ca

[2020-10-29 03:53] dgibson opened #3034 "cli/containerd-shim-kata-v2/config-generated.go is not gitignored"
# Description of problem

`cli/containerd-shim-kata-v2/config-generated.go` is a link created during build, but not ignored by git.

[2020-10-29 03:56] dgibson commented on #3034
Already fixed in Kata 2 by `66d385d7edf933dd1251cc071242ed61ca6aeb5e`

[2020-10-29 05:19] bpradipt commented on #1943
This is stale issue and already fixed upstream. Closing this

[2020-10-29 05:19] #1943 closed

[2020-10-30 01:57] awprice opened #3036 "Kubernetes readOnly hostPath mount should be passed RO to VM"

[2020-10-30 05:29] #3036 closed

[2020-10-30 18:15] #3034 closed

[2020-10-31 05:00] #3032 closed

[2020-11-01 14:50] kholia opened #3038 "Kata 2.0.0 doesn't play well with Docker"
The combination of Kata 1.12.0-rc0 with Docker 19.03.13 on Ubuntu 20.10 works well.

Today, I removed this old Kata + Docker setup to try out  `Kata Containers 2.0.0` on the same Ubuntu 20.10.

I used the following documentation to setup `Kata Containers 2.0.0`:

https://github.com/kata-containers/packaging/blob/master/snap/README.md#configure-kata-containers

[code]

Docker says that `kata-fc` is

[2020-11-01 15:08] marcel-apf opened #3039 "Logging level is broken in some cases"
# Description of problem

Run CRI-O  in normal mode and set enable_debug = true in  configuration.toml.

# Expected result

The runtime logging level should be INFO, which from KATA's perspective behaves like DEBUG.

# Actual result

The runtime logging level is WARN, which from KATA's perspective behaves like INFO.

# Further information

The issue can be traced to  commit eee4d7012 "katutils: lo

[2020-11-02 02:46] caoruidong commented on #3038
Kata 2.0 only has CRI, no CLI

[2020-11-02 04:55] kholia commented on #3038
https://github.com/kata-containers/packaging/blob/master/snap/README.md#integration-with-docker-and-kubernetes

So will we need to change this doc to say that Kata 2.0 is no longer compatible with Docker?

Many folks are still running Docker and Kata was a nice way to seamlessly play with Firecracker via `kata-fc`. Is the plan to no longer support this?

[2020-11-02 05:45] kholia commented on #3038
After setting up new kata-fc:

[code]

[code]

VMs fail to launch:

[code]

After disabling the `valid_hypervisor_paths` in `/opt/kata/share/defaults/kata-containers/configuration-fc.toml` file.

[code]

Yep - it does seem that support for Docker was removed.

[2020-11-02 07:05] bergwolf opened #3041 "runtime: readonly volume should be bind mounted readonly on the host"
backport https://github.com/kata-containers/kata-containers/pull/1062

[2020-11-02 09:01] jodh-intel commented on #3038
Hi @kholia - Thanks for raising. However, unfortunately since Docker doesn't yet support the containerd shimv2 architecture directly, Kata 2.0.0 won't work with Docker.

The Kata 1.x runtime (in this repo) does work with docker and as such we provide Docker-based install guides:

- https://github.com/kata-containers/documentation/tree/master/install/docker

However, the newer Kata 2.x runtime (whi

[2020-11-03 06:00] zanetworker opened #3043 "Virtcontainers documentation is outdated"
**Which feature do you think can be improved?**

/kind documentation

Skimming over the documentation for [virtcontainers](https://github.com/kata-containers/runtime/tree/master/virtcontainers), I found:

- Outdated links mainly pointing to a deprecated Clearcontainers Org.
- Good documentation (with diagrams) for CNM but minimal/missing [documentation](https://github.com/kata-containers/runtime/t

[2020-11-03 15:29] ariel-adam commented on #2641
After discussing we feel we don't want to support using swap memory in the guest.
Closing this issue, feel free to open it if you see things differently.

[2020-11-03 15:29] #2641 closed

[2020-11-03 15:40] ariel-adam commented on #2650
@bporter816 are you working on this issue or should we assign it to someone else?

[2020-11-03 16:01] bporter816 commented on #2650
Yes, we plan to complete this soon.

[2020-11-03 18:48] jcvenegas commented on #2815
I have tested qemu virtiofs code buidling from source (no  kata scripts). In the case of kata with 9pfs is more better becasue this patch https://github.com/kata-containers/packaging/blob/stable-1.12/qemu/patches/5.0.x/0001-9p-removing-coroutines-of-9p-to-increase-the-I-O-per.patch

[2020-11-03 18:50] jcvenegas commented on #2815
@rhvgoyal @dagrh I think virtiofs need some work to have some parity related with that patch.  Seems that is mostly how request are handled.
- I have tested shared-thread pool patch but I did not see difference for this use case.

[2020-11-03 19:37] #3001 closed

[2020-11-03 21:37] rhvgoyal commented on #2815
@jcvenegas I posted V3 of patches to improve random write performance.

https://lore.kernel.org/linux-fsdevel/20201009181512.65496-1-vgoyal@redhat.com/

It has not been merged yet. I hope it will be merge and that should help.

I will look into this qemu out of tree patch you have mentioned. It processes everything in the context of single thread. We think this is not a very scalable approach. IIU

[2020-11-04 00:03] likebreath opened #3044 "clh: Upgrade to cloud-hypervisor release v0.11.0"
The latest cloud-hypervisor release v0.11.0 came out last week here: https://github.com/cloud-hypervisor/cloud-hypervisor/releases/tag/v0.11.0.

[2020-11-04 08:29] #2959 closed

[2020-11-04 13:45] #3044 closed

[2020-11-04 16:34] jcvenegas commented on #2815
@rhvgoyal thanks - I will try the V3 patches.

Thanks :) ,  please let me know if in your comparison you are able to see if using that patch makes 9pfs its better than virtiofs. At least for this command:

[code]

[2020-11-04 16:51] rhvgoyal commented on #2815
@jcvenegas I would say split your tests in two.

- Pure random writes
- Mixed random read and random writes

My patches mentioned above will help a lot with first test. With second test, an additional problem is introduced. I proposed a fix for that upstream but upstream thinks that I need to implement a more generic solution to the problem like file leases.

https://lore.kernel.org/linux-fsdevel/

[2020-11-04 18:14] c3d opened #3046 "We should enforce a minimum memory size of ~128M"
# Description of problem

In https://github.com/kata-containers/runtime/pull/2988, we decided to not enforce a minimum memory size for the hypervisor, but to rely on what is given to us.

In [this comment](https://github.com/kata-containers/runtime/pull/2988#issuecomment-704350886), @crosbymichael remarked that we should let the hypervisor report an error, and that we should not try to enforce a m

[2020-11-04 23:13] #3041 closed

[2020-11-05 09:08] jodh-intel commented on #3046
# Variables

The core problem seems to be that the "minimum memory" depends on atleast the following:

- Kernel version
- Kernel config / features
- Kernel architecture
- Hypervisor type
- Hypervisor version
- Hypervisor config / features
- Hypervisor architecture

So we try to find a common denominator which we know is going to be "reliable but knowingly too big".

# Ideal

All the hypervisors wo

[2020-11-05 10:37] #3030 closed

[2020-11-06 16:37] #3027 closed

[2020-11-07 02:48] nimajafroodi commented on #3021
This issue can be closed.

We have root caused the issue. The issue was related to mount propagation of the shared directory which by default is set to the propagation of it's mount peer group. In our case the propagation was set to private preventing the bind mount of the pod rootfs to not be visible to the guest.

[2020-11-09 05:09] #2919 closed

[2020-11-09 14:52] devimc commented on #3021
@nimajafroodi thanks, closing issue..

[2020-11-09 14:52] #3021 closed

[2020-11-10 09:19] mikumaycry opened #3049 "How to limit disk quota of sharedFS？"
When using Kata with Containerd, devmapper can be used to limit the root partition of container.

But once **VOLUME** is declared in image's Dockerfile, the directory will be mount to corresponding path under **/run/vc**.

For exmaple, the **redis:5** image use **/data** to store data.

[code]

This directory is mounted on host machine. And this container could take up all space if needed.

shared

[2020-11-10 14:23] devimc commented on #3049
@mikumaycry thanks for raising this, can you limit disk quota with runC? afaik that's not possible

[2020-11-11 06:28] jongwu opened #3056 "make proto in agent will fail when using docker 18.06 on arm64"
add docker version entry for agent of arm64 is needed

[2020-11-11 06:41] mikumaycry commented on #3049
runC is the same as kata, the root parition can be limited with devmapper, but volumes are mounted under

**/var/lib/containerd/io.containerd.grpc.v1.cri/containers/xxxxxxx/volumes/xxxxxx**

And hosts, resolv.conf, hostname are writable both in kata and runC, writing large content into those files will directly take host's disk space.

[2020-11-11 07:05] #3004 closed

[2020-11-11 07:05] #2943 closed

[2020-11-11 12:18] fidencio opened #3062 "[stable-1.12] Backport #3005 to stable-1.12"
PR #3005 has been merged Yesterday and would be good to have it as part of 1.12.0 release.

For more details about the issue itself, please, visit: #3005.

[2020-11-11 12:19] fidencio opened #3063 "[stable-1.11] Backport #3005 to stable-1.11"
PR #3005 has been merged Yesterday and would be good to have it as part of 1.11.5 release.

For more details about the issue itself, please, visit: #3005.

[2020-11-11 13:55] devimc commented on #3049
@mikumaycry if that's the case (same as runC) then I guess there is nothing we can do, have you considered mounting such file/volumes as read-only ?

[2020-11-11 14:26] liubin opened #3064 "Port of kata-containers/kata-containers#1094"
Port of kata-containers/kata-containers#1094

[2020-11-11 19:11] fidencio commented on #3063
Fixed as #3061.

[2020-11-11 19:11] #3063 closed

[2020-11-11 19:11] fidencio commented on #3062
Fixed as #3060.

[2020-11-11 19:11] #3062 closed

[2020-11-11 21:14] amshinde opened #3066 "Update kernel to LTS version 5.4.77"

[2020-11-12 03:01] mikumaycry commented on #3049
Yes, I just found a way to limit disk quota of sharedFS

（1）enable **ignore_image_defined_volumes** to ignore all VOLUME paths declared in Dockerfile, those paths will be created in rootfs
（2）Add /etc/hosts, /etc/resolv.conf, /etc/hostname to **ReadonlyPaths** in ContainerConfig.Linux.SecurityContext when creating containers

[2020-11-12 08:11] didier-durand opened #3069 "BUG: unhandled scenario: current version: 1.12.0-rc0, latest version: 1.12.0"
Hello,

After installation of kata,  _'kata-runtime kata-check'_ now produces the following:

ERRO[0000] **BUG: unhandled scenario**: current version: 1.12.0-rc0, latest version: 1.12.0  arch=amd64 name=kata-runtime pid=7617 source=runtime
BUG: unhandled scenario: current version: 1.12.0-rc0, latest version: 1.12.0

My install via _'$(curl -fsSL https://raw.githubusercontent.com/kata-containers/te

[2020-11-12 08:14] didier-durand commented on #3069
More information: kata-runtime seems properly installed as per below. Just _'kata-runtime kata-check'_ seems to fail.

_**'kata-runtime kata-env'**_ produces

[Meta]
  Version = "1.0.24"

[Runtime]
  Debug = false
  Trace = false
  DisableGuestSeccomp = true
  DisableNewNetNs = false
  SandboxCgroupOnly = false
  Path = "/usr/bin/kata-runtime"
  [Runtime.Version]
    OCI = "1.0.1-dev"
    [Runtime

[2020-11-12 08:42] jodh-intel commented on #3069
Hi @didier-durand - thanks for reporting. Please can you try running the following until we investigate and fix the issue:

[code]

[2020-11-12 08:51] didier-durand commented on #3069
Thanks for this workaround! I get now the final sentence that I need.

Output:

_kata-runtime kata-check -n
WARN[0000] modprobe insert module failed: modprobe: ERROR: could not insert 'vhost_vsock': Operation not permitted  arch=amd64 error="exit status 1" module=vhost_vsock name=kata-runtime pid=11351 source=runtime
ERRO[0000] kernel property not found                     arch=amd64 description="

[2020-11-12 10:13] jodh-intel commented on #3069
@didier-durand - I'm actually going to fix this in 2.0 first and as soon as that has landed backport the fix to the 1.x releases (here). The 2.0 PR is:

- https://github.com/kata-containers/kata-containers/pull/1105

[2020-11-12 10:27] jodh-intel commented on #3069
@didier-durand - it's worth pointing out that if you run `sudo kata-runtime kata-check`, it will perform a more comprehensive check (and wouldn't have run the network version check which is the problematic one you can disable using `-n`).

[2020-11-12 12:09] didier-durand commented on #3069
@jodh-intel : Thanks for this complementary info!
Can I remove "-n" in my scripts as soon as kata-containers/kata-containers#1105 gets merged?

[2020-11-12 13:58] jodh-intel commented on #3069
@didier-durand - Well that PR is for [Kata 2.x](https://github.com/kata-containers/kata-containers/tree/2.0-dev/docs/install) (which you may want to switch to anyway? See https://github.com/kata-containers/kata-containers/releases/tag/2.0.0 for some details of 2.x). Once https://github.com/kata-containers/kata-containers/pull/1105 is merged, I will fix the problem in this repository (which is for

[2020-11-12 14:06] didier-durand commented on #3069
@jodh-intel :
I'd be happy to switch to Kata 2.x as I am doing initial tests: I'd prefer to be on last version

As said above, I currently install Kata via  '$(curl -fsSL https://raw.githubusercontent.com/kata-containers/tests/master/cmd/kata-manager/kata-manager.sh) install-docker-system' as per project documentation

How do I enforce 2.x in the command line above? Any additional param that I sho

[2020-11-12 14:21] jodh-intel commented on #3069
@didier-durand - We are developing Kata 2.0 and onwards in a different repository. As such, to install Kata 2.0 you need to look at https://github.com/kata-containers/kata-containers/tree/2.0-dev/docs/install instead. The recently updated readme in the 2.x repository explains some of the differences between 1.x and 2.x in terms of repositories: https://github.com/kata-containers/kata-containers/bl

[2020-11-12 14:22] jodh-intel commented on #3069
Thanks!

[2020-11-12 15:03] devimc commented on #3049
@mikumaycry cool, can we close this?

[2020-11-12 16:14] jodh-intel commented on #3069
1.x PR raised: https://github.com/kata-containers/runtime/pull/3070.

[2020-11-12 16:44] DavideAG opened #3071 "Error during system resource analysis using kata-qemu-virtiofs"
# Description of problem

Good morning everyone, I begin by congratulating all of you for the great work you are doing with kata-containers. I am testing the performance and impact on system resources between various runtimes including `kata-qemu` and `kata-qemu-virtiofs`.
When I try to create 70 containers in a row (using docker as container manager) I have a problem when using the virtiofs versi

[2020-11-12 17:01] devimc commented on #3071
@DavideAG thanks for raising this, Is DAX enabled? (Check in your configuration file)
can you enable debug, restart the kata-qemu-virtiofs test and run `sudo kata-collect-data.sh`? I'd like to see the logs

thanks

[2020-11-12 17:28] DavideAG commented on #3071
@devimc Thank you for your answer. DAX is enable and `virtio_fs_cache_size = 1024`.\
Launching `sudo kata-collect-data.sh` the result is `sudo: kata-collect-data.sh: command not found`.\
In `/opt/kata/bin` there is a script called `kata-collect-data.sh` but launching it with `sudo ./kata-collect-data.sh` I have the following error `ERROR: kata-collect-data.sh: cannot find runtime 'kata-runtime'`.

[2020-11-12 17:32] devimc commented on #3071
please set `virtio_fs_cache = "none"` and `virtio_fs_cache_size = 0` and try again

[2020-11-12 17:43] DavideAG commented on #3071
@devimc Thank you for your tip. I have changed `virtio_fs_cache = "none"`, `virtio_fs_cache_size = 0` and rebooted the system. Now I have relaunched the test but the error continues to be present. \
\
If it is can be helpful, each single container is launched using
`sudo docker run --runtime=kata-qemu-virtiofs -id alpine`

[2020-11-12 18:22] DavideAG commented on #3071
I don't know if it is a timeout problem, anyway I'm attaching here a chart about the boot time (usr + kernel) of each container during the experiment. Maybe it can help to understand the problem.\
\
![real_70_docker](https://user-images.githubusercontent.com/53214522/98979938-46149c80-251c-11eb-940b-4404c9f3ed40.png)

[2020-11-12 19:35] devimc commented on #3071
runtime following commands:

[code]

[2020-11-12 20:43] DavideAG commented on #3071
In this [link](https://drive.google.com/drive/folders/1ClQl5yDw_-rgjLqh1Xu3U9JRiLDfwroW?usp=sharing) you can find the two outputs reported in two different text files.
The two files are also attached to this comment.
[kata-proxy.txt](https://github.com/kata-containers/runtime/files/5533196/kata-proxy.txt)
[kata-runtime.txt](https://github.com/kata-containers/runtime/files/5533197/kata-runtime.txt)

[2020-11-12 20:50] devimc commented on #3071
thanks @DavideAG but I don't see any error in the logs :disappointed:
could you [enable full debug](https://github.com/kata-containers/documentation/blob/master/Developer-Guide.md#enable-full-debug) and try again?
Thanks

[2020-11-12 20:51] devimc commented on #3071
thanks @DavideAG let me look at kata-proxy.txt and kata-runtime.txt

[2020-11-12 21:12] egernst commented on #2568
@jcvenegas @likebreath -- any updates on this one?  AFAIU virtio-mem will help us with  https://github.com/kata-containers/runtime/issues/1244#issuecomment-647576087.

[2020-11-12 21:13] devimc commented on #3071
Thanks again @DavideAG -  @dagrh @jcvenegas @likebreath  do you know if this is a known (scalability) issue in qemu-virtiofs?

[2020-11-12 21:48] devimc opened #3072 "backport: clh: disable virtiofs DAX when FS cache size is 0"
backport https://github.com/kata-containers/kata-containers/pull/1101

[2020-11-13 01:58] mikumaycry commented on #3049
Yes

[2020-11-13 01:58] #3049 closed

[2020-11-13 08:03] #3069 closed

[2020-11-13 09:17] didier-durand commented on #3069
Thanks for the backport!

I am trying to switch to v2.0 as suggested above.

It installs fine via snap.

But, I used to run 'kata-runtime kata-check' & 'kata-runtime kata-env'.  Now, I get a 'command not found' on kata-runtime. What are he replacing commands? Thanks in advance.
Didier

[2020-11-13 09:42] dagrh commented on #3071
Hmm, not sure; do you know what parameters are being passed to the virtiofsd?  I'd be tempted to try --thread-pool-size=1 to reduce the default number of threads each virtiofsd is taking.

[2020-11-13 10:08] didier-durand commented on #3069
Please, forget my question above: I used 'find' to locate kata-runtime in the installed snap

[2020-11-13 10:29] DavideAG commented on #3071
@dagrh Thank you for your interest. I tried to change the default number of threads of virtiofsd but where no improvements after running again the test. I tried to restart the system too but the result is the same.\
In particular I added: `virtio_fs_extra_args = ["--thread-pool-size=1"]` in the virtiofs configuration file. (in my case is located in `/opt/kata/share/defaults/kata-containers/configu

[2020-11-13 11:17] c3d commented on #3071
@devimc @dagrh Looking at the initial graph, memory usage with kata-qemu seems to be three times that of kata-qemu-virtiofs. Is that expected? Is 9p that much of a memory hog?

[2020-11-13 16:20] DavideAG commented on #3071
@c3d thank you for your interest. The memory usage of k9 seems to be twice as much as virtiofs. \
Here another little memory on the same configuration test:

<details><summary>test_mem.sh</summary>
<p>

[code]

</p>
</details>

Using `sudo ./test_mem.sh kata-qemu 30 kata-qemu.dat`
<details><summary>kata-qemu.dat</summary>
<p>

[code]
</p>
</details>

Using `sudo ./test_mem.sh kata-qemu-virtiofs 30

[2020-11-13 20:18] #3072 closed

[2020-11-13 22:37] egernst opened #3074 "build flags are incorrect for containerd-shim-kata-v2"
Looks like BUILDTAGS is being used instead of BUILDFLAGS, which is incorrect, as it drops some important flags.

see:
[code]

And later:
[code]

[2020-11-14 16:48] DavideAG commented on #3071
As reported [here](https://github.com/kata-containers/documentation/blob/master/how-to/how-to-use-virtio-fs-with-kata.md#pre-requisites) it is necessary to change the size of `/dev/shm` on the system. Thanks to all, I'm closing this issue.

[2020-11-14 16:48] #3071 closed

[2020-11-16 02:31] jongwu opened #3078 "ACPI has not enabled yet on arm64"
ACPI has not enabled on arm64, but some features like memory hotplug is based on that.

[2020-11-16 08:33] wenbinzeng commented on #3006
Further findings:
the problem happens when backing filesystems is ext4; after switching backing filesystems to xfs the problem is gone.

[2020-11-16 15:20] jodh-intel commented on #3038
Closing as invalid since docker doesn't yet support the shimv2 architecture.

[2020-11-16 15:20] #3038 closed

[2020-11-17 11:28] free2k commented on #2897
I also encountered the same problem, can you tell me how to solve it

[2020-11-17 11:35] jodh-intel commented on #2897
@free2k - please can you raise a new issue and follow the instructions on the template to include info to help us understand the problem in your environment.

[2020-11-17 11:51] free2k opened #3080 "Failed to check if grpc server is working: rpc error: code = Unavailable desc = transport is closing: unknown"
# Get your issue reviewed faster

The information provided will help us to understand the problem more quickly
so saves time for both of us! :smile:

# Description of problem

Error when creating kata container

# Expected result
The kata container was created successfully

# Actual result

[code]

# Further information
Version used
kata-runtime-1.10.1
kata-proxy-1.10.1

[2020-11-17 11:52] free2k commented on #3080
It should be that the kata-agent failed to start, the key problem occasionally appeared, and it cannot be reproduced now

[2020-11-17 12:15] jodh-intel commented on #3080
Thanks for raising @free2k, but you haven't provided the information requested in the template which we really need to see :smile:

Also, can you try to recreate using 1.10.8 with full debug enabled? (or indeed with 1.11.5, 1.12.0-rc0 or 2.0.0).

[2020-11-17 12:18] free2k commented on #3080
I have opened debug now, but it cannot be reproduced now. There is only a very small chance

[2020-11-17 14:17] jodh-intel commented on #3080
@free2k - I suggest you update the version of Kata you are using to one of those I mentioned above. If you can recreate the problem then, please provide further details. Otherwise, there isn't much we can do I'm afraid.

[2020-11-17 15:49] jcvenegas commented on #2815
I ran this test again using https://github.com/rhvgoyal/qemu/commit/823dd12f7a2f393632c86b98e8ee380044282d12

In my worksatation 9pfs still was working better but I have tried in two more servers and it is working better virtiofs.
9pfs:
[code]
virtiofs:
[code]

I also added runc as part of my comparison to see how well was doing kata based in the container.

Using overlays  I see actually Kata wor

[2020-11-17 18:57] #3064 closed

[2020-11-17 22:15] rhvgoyal commented on #2815
By default virtiofs will not do direct I/O. And I think virtio-9p does not do either. direct I/O specified by test is limited to bypassing guest page cache only (And not host page cache).

If one needs to avoid host page cache as well, now virtiofsd has introduced a new option to force that. (-o allow_direct_io)

[2020-11-18 16:05] jcvenegas commented on #2815
awesome, I wonder if we should go by default in Kata. So direct io will be done when the file is open with that flag, correct the rest will do page cache?

[2020-11-19 14:36] rhvgoyal commented on #2815
If a guest application is doing direct I/O, I think we should avoid page cache on guest. But there is no guarantee that we should avoid page cache on host as well. In storage stack, caching can happen at so many layers. Disks have internal caches, we don't avoid those caches for direct I/O. If a VM is running in cloud, we will not avoid caches on host. So to me, not avoiding caches on host should

[2020-11-19 16:13] jcvenegas opened #3083 "split qemu support in stable and experimental"
**Which feature do you think can be improved?**

Update: After some talk on this issue: No more runtime configs will be created for qemu-virtiofs experimental, instead some job that modify the configuration toml that to point to modify anything we need to test.

Today virtiofs config uses cache=auto and no dax, both are supported in stable kernel releases and qemu.

The config could change in the

[2020-11-19 21:53] devimc opened #3085 "cli: make check subcommand more tolerant to failures"
* Check if it is possible to load the module before trying to load it
* Support [Github's rate limit](https://developer.github.com/v3/#rate-limiting)

[2020-11-20 14:31] #2982 closed

[2020-11-21 23:44] zer0def commented on #3029
Duplicate of #2982, fixed in #3082.

[2020-11-23 01:32] jongwu commented on #3029
thanks @zer0def, I will close this issue.

[2020-11-23 01:32] #3029 closed

[2020-11-23 06:11] #2579 closed

[2020-11-23 20:49] wainersm commented on #3083
@jodh-intel @jcvenegas ,

I always understood QEMU "experimental" as synonymous of qemu-virtiofs. Also I don't know how to call the non-experimental QEMU so usually I say QEMU "standard". Now with this change we have the experimental of QEMU experimental ("qemu-viritiofs experimental" and, using my nomenclature standard of QEMU experimental. Don't you think this is too confusing?

I know that givi

[2020-11-23 21:06] wainersm opened #3089 "Improve the vsock message on kata-check"
**Which feature do you think can be improved?**
`kata-check` message for vsock support.

**How can it be improved?**

Suppose `use_vsock = true` on `configuration.toml`. The output of `kata-check` is:

[code]
There are two messages about vsock (lines 1 and 3 above). So one first suggestion is to collapse on a single message.
Also the line 3 says "configure to not use proxy" but, in fact, it is alr

[2020-11-23 22:34] jcvenegas commented on #3083
@wainersm

Yes, experimental all this time has been just for virtiofs usecase, as part of this CI refactor I was looking to have a more meaningful name.

- It points to virtiofs out-of-tree dev repository from virtiofs dev team.
- This help us to  easily use the tests new patches  that virtiofs team recommend.

That is fine, I think we usually name it `qemu-vanilla` (even if it has one or two smal

[2020-11-24 14:35] wainersm commented on #3083
With `experimental stable` I meant your `virtiofs stable`.

IUUC those are the current variables used to control build and install of QEMU + Kernel on CI scripts:

`experimental_qemu`:
  * True   (qemu-vanilla + virtiofs 'stable')
  * False (qemu-vanila + 9p)

`experimental_kernel`:
  * True (use with `experimental_qemu=True`)
  * False (likewise)

Now we want to express the differentiation of vir

[2020-11-25 13:36] #3056 closed

[2020-11-25 14:15] jcvenegas commented on #3083
@wainersm Yes, that is how I wanted that new experimental would be added.

So based in your 3 items, I wanted to remove the generic name `experimental_qemu` to `experimental_qemu_virtiofs`, this is because I don't want to lead to a confusion of what it means that build (only for virtiofs experimentation).

-  `KATA_HYPERVISOR=qemu-virtiofs-experimental` && `experimental_virtiofs_qemu=True` &&  `ex

[2020-11-25 14:20] jcvenegas commented on #3083
If renaming and adding a new config is confusing and a overload of work, I think I can just move kata-qemu-virtiofs to use default qemu and kernel. And create set of CI Jobs that modify that toml. And just keep naming the builds `qemu-experimental` and `kernel-experimental` anyway I think there is not other  experimental things we are looking today. @wainersm what do you think?
@amshinde @bergwolf

[2020-11-26 03:17] tommyrousey commented on #3018
Hey @egernst @GabyCT, my group (@bporter816, @maomarcus, @yasv123 and myself) in my Virtualization class at UT is looking for issues to complete and was wondering what your assessment of the potential difficulty of this issue.

Thanks a bunch!

[2020-11-26 04:24] jcvenegas commented on #3083
There is already support for that partially, but yeah need to extend this script.
https://github.com/kata-containers/tests/blob/master/.ci/install_kata.sh#L62

Yes the final goal is move kata-virtiofs to stable (not experimental binaries), included the kata-deploy binaries.

The main reason is that recently we removed DAX from kata as causes some issues. After disable DAX we agreed to move to a st

[2020-11-26 16:29] c3d opened #3090 "qemu 5.1 complains about vhost-vsock-pci"
# Get your issue reviewed faster

<details>
<summary>Show <tt>kata-collect-data.sh</tt> details</summary>
<p>

# Meta details

Running `kata-collect-data.sh` version `1.11.1 (commit )` at `2020-11-26.17:19:43.392828757+0100`.

---

Runtime is `/usr/bin/kata-runtime`.

# `kata-env`

Output of "`/usr/bin/kata-runtime kata-env`":
[code]

---

# Runtime config files

## Runtime default config files

[

[2020-11-26 16:35] fidencio commented on #3090
@c3d, am I safe to assume you're running Kata Containers with the QEMU from Fedora33?

If so, it'd be better to file an issue for the qemu package on Fedora, pointing out that we need `620907050398 ("vhost-vsock-pci: force virtio version 1") and its friends` backported.

[2020-11-26 16:38] c3d commented on #3090
In the 2.0 branch, this is fixed by https://github.com/kata-containers/kata-containers/commit/154a356ad43319f5f2a917d6742db735ac3610a5 for the qemu built with kata. Adding `no-forward-port-needed` label.

[2020-11-26 16:39] c3d commented on #3090
@fidencio I agree regarding the resolution. However, this is a symptoms that others may run into, so better have an issue open for it, so that anybody else running into it knows someone is on it.

[2020-11-26 16:43] c3d commented on #3090
@bergwolf Was there any issue associated with your commit https://github.com/kata-containers/kata-containers/commit/154a356ad43319f5f2a917d6742db735ac3610a5? If so, could you please link it here.

[2020-11-26 17:36] wainersm commented on #3083
That's a good idea. I will speak with David about that possibility. However it is likely to be backported to stable-5.0 and effectively released with 5.2.0 (I checked, the fix isn't in 5.1.0).

Yes, I agree here too. I began using virtiofs experimental for convenience (the scripts simply support that case) and ignorance (I didn't have a complete understanding of the various QEMU configurations the

[2020-11-26 19:13] jcvenegas commented on #3083
@wainersm cool thanks for the feedback, I will continue on that plan , I'll ping you in the PRs to follow up this.

[2020-11-26 21:33] wainersm commented on #3083
@jcvenegas ywc! I'm happy to help on the reviews too.

[2020-11-27 19:04] #3085 closed

[2020-11-30 05:22] bporter816 commented on #2650
@amshinde @devimc We're gotten around to looking at this, and wanted to make sure we understand the relevant parts of the logging system to work on the issue. We're able to reproduce the `qemu.log` file being empty while running a container, and we're looking at the console socket at `console.sock` to try to understand how that works. One of the things we were wondering about is how to use a conso

[2020-11-30 06:08] tommyrousey commented on #3018
Hey @egernst @GabyCT @likebreath, in addition for my request for some background, can I be assigned to this issue ?

Thanks!

[2020-11-30 16:29] devimc commented on #2650
@bporter816 not too much to say about `qemu.log` and `console.sock`.  I have no idea why `qemu.log` is empty, I tried with --enable-debug but didn't work, @kata-containers/redhat any thoughts ?

Regarding to `console.sock`, the implementation of a new debug console shouldn't be a big deal, just add another virtconsole-socket pair (`-device virtconsole,chardev=charconsole1,id=console1 -chardev sock

[2020-11-30 17:45] evanfoster commented on #3014
Closing this, since all of the port PRs are merged or closed.

[2020-11-30 17:45] #3014 closed

[2020-12-01 03:59] bporter816 commented on #2785
@egernst
@jodh-intel @ariel-adam @fidencio We will be completing this issue soon and were wondering if there are any functional changes that need to happen outside of removing references to DEFAULT_HYPERVISOR from the Makefile.

[2020-12-01 06:44] bporter816 commented on #2650
@amshinde @devimc We've dug into this some more and we believe that the `qemu.log` file is intended for severe QEMU issues such as virtual hardware errors. In most cases, this file is empty in our research. For example, we ran a plain `qemu` command with the `-D qemu.log` option outside of kata on a VM that successfully booted, and `qemu.log` was empty, even with all `-d` debug options enabled.

W

[2020-12-01 16:21] c3d commented on #2676
Open PR https://github.com/kata-containers/runtime/pull/2677 not correctly linked here.

[2020-12-01 16:28] jcvenegas commented on #2688
I will close this issue, in general is not an issue not have it documented.

[2020-12-01 16:28] #2688 closed

[2020-12-01 16:30] ariel-adam commented on #2689
#2690

[2020-12-01 16:31] c3d commented on #2689
Closed by https://github.com/kata-containers/kata-containers/pull/312

[2020-12-01 16:32] ariel-adam commented on #2689
Closing the issue.

[2020-12-01 16:32] #2689 closed

[2020-12-01 16:32] c3d commented on #2689
Closing

[2020-12-01 16:42] ariel-adam commented on #2698
@dgibson David, is this still relevant in your opinion or can we close it?

[2020-12-01 16:44] c3d commented on #2698
@dgibson This looks a bit stale to me, but related to our recent email discussions. Could you comment. Does that make any sense, or should we just drop this approach completely.

[2020-12-01 18:00] GabyCT commented on #3018
@tommyrousey thanks :) about how difficult is, I am not sure but let me see what @likebreath @egernst and @fidencio think

[2020-12-01 18:21] egernst commented on #2785
Hey there @bporter816! I don't think there are any functional changes required; just cleanup/removal for this one.

[2020-12-01 18:21] egernst commented on #2785
And, sorry for not responding in September! Thanks for the help!

[2020-12-01 18:22] egernst commented on #2785
If you're interested, we can see if there are more interesting issues within the code base for you :)

[2020-12-02 02:28] bporter816 commented on #2785
@egernst Yes, that would be great! We would love to pick up another issue. Please let us know if you're aware a good one we could scope out that would take about a week to complete.

[2020-12-02 07:28] cmaf opened #3093 "Runtime tracing should reuse Trace() in katautils"
There are several similar `trace()` functions in virtcontainers and containerd-shim-v2 (as of https://github.com/kata-containers/runtime/pull/2980) that create spans and set tags for the span. We can reuse `Trace()` in pkg/katautils/tracing.go if we modify it to take tag keys and values as arguments.

Forward port issue: https://github.com/kata-containers/kata-containers/issues/1162

[2020-12-02 18:28] egernst commented on #3093
@bporter816  - this could be an interesting one to evaluate.

[2020-12-02 18:34] egernst commented on #2785
Yes - will do! TAL @ https://github.com/kata-containers/runtime/issues/3093

[2020-12-02 23:31] #1807 closed

[2020-12-03 01:59] bporter816 commented on #3093
@egernst Sure, we can take a look! Could you assign me to this?

[2020-12-03 14:28] c3d opened #3094 "podman --rm ends with an error"
# Get your issue reviewed faster

<details>
<summary>Show <tt>kata-collect-data.sh</tt> details</summary>
<p>

# Meta details

Running `kata-collect-data.sh` version `1.12.0 (commit )` at `2020-12-03.15:23:06.502329025+0100`.

---

Runtime is `/usr/bin/kata-runtime`.

# `kata-env`

Output of "`/usr/bin/kata-runtime kata-env`":
[code]

---

# Runtime config files

## Runtime default config files

[

[2020-12-03 14:32] fidencio commented on #3094
@c3d,
[code]

I would like to ask, are you using cgroupsv1?
Mind to give it a try also with latest packages from Fedora?

[2020-12-03 14:45] fidencio commented on #3094
Hmm.  I kinda remember something similar, solved by @egernst cgroups patches some months ago.

[2020-12-03 20:24] amshinde opened #3095 "Update firecracker version to latest 0.21.3"
In addition to features related to gathering metrics around
several data-points, the releases leading to this release
carry a few secirty fixes.
Lets update to latest fircracker release.

References:
https://github.com/firecracker-microvm/firecracker/issues/2057
https://github.com/firecracker-microvm/firecracker/issues/2177

[2020-12-04 01:50] liubin commented on #2785
@bporter816 Thanks, you can also filter issues by label `good-first-issue`.

[2020-12-04 01:50] #2785 closed

[2020-12-04 02:23] liubin commented on #3093
hi @bporter816 , thanks. Here is the issue for 2.0: https://github.com/kata-containers/kata-containers/issues/1162 .

[2020-12-04 03:02] bporter816 commented on #3093
Hey @egernst @cmaf, wanted to check with you about how we plan to approach this.

For passing the tags to `Trace()`, we thought a `map[string]string` would work well as another argument.

Should we also modify places such as https://github.com/kata-containers/runtime/blob/3f92a9c076f3e8e52ec1d54a0c7068f6c8d24e8a/cli/ps.go#L56 where `Trace()` in katautils is already being used but the tags are set

[2020-12-04 21:41] cmaf commented on #3093
Hi @bporter816,

Agreed, you could do this or write a variadic function.

Hm, I personally think that we should keep/add this code as part of the `Trace()` function since the only time it is used is in trace functions. Perhaps @egernst or @jodh-intel will have a different opinion.

I also think we should not use structs for the trace function since we really only need to pass in the context and us

[2020-12-04 22:28] skaegi commented on #1888
We've been working with dind on top of virtiofs for four or so months and are at this point understand some of the main issues and can share. Our primary use-case is for Kubernetes native CI with a pod lasting really no longer than a few hours but also for things like providing a remote shell which is actually not all that different.

We use kata packaging to build/package our own kernel (5.9.x bu

[2020-12-05 00:06] bporter816 commented on #3093
@cmaf If we put all the logic in `Trace()` it seems like that would turn into a switch statement to check the context per caller, is that fine?

[2020-12-05 00:08] cmaf commented on #3093
@bporter816 could you show me an example?

[2020-12-05 00:47] bporter816 commented on #3093
@cmaf The concern is specifically around how to preseve the nil checking that's unique to each trace implementation. We would need to support both
https://github.com/kata-containers/runtime/blob/3f92a9c076f3e8e52ec1d54a0c7068f6c8d24e8a/virtcontainers/qemu.go#L216-L220 and https://github.com/kata-containers/runtime/blob/3f92a9c076f3e8e52ec1d54a0c7068f6c8d24e8a/containerd-shim-v2/service.go#L301-L30

[2020-12-05 01:07] cmaf commented on #3093
@bporter816 you're right, I missed the fact that one logger was associated with a struct. I think in this case you can try switching to using `logrus.WithField(...` since `q.Logger` (and the other x.Loggers) are logrus.

[2020-12-05 03:27] tommyrousey commented on #2650
Hi @amshinde @devimc @bporter816,

I found an example of a `qemu.log` file in another ticket after reproducing the issue and finding the `qemu.log` empty with both Kata and a vanilla VM. This example found on issue https://github.com/kata-containers/runtime/issues/2978:
[code]
Also, from the QEMU documentation:
[code]
I believe this supports @bporter816 's hypothesis that this is only for logging

[2020-12-05 03:32] bporter816 commented on #3093
@cmaf We looked into all the spots custom trace functions are used, and were considering using kataUtilsLogger and calling `WithField()` for each of the tags to get the output similar to the current specialized loggers.
This wouldn't work very well because there's a lot of inconsistencies between the fields on the loggers and the tags used for tracing.
Instead, we thought it might be a good idea t

[2020-12-05 04:58] bporter816 commented on #3093
Another quick update...there are points where dynamic data (struct fields) are passed in as tag values: https://github.com/kata-containers/runtime/blob/3f92a9c076f3e8e52ec1d54a0c7068f6c8d24e8a/virtcontainers/container.go#L589

We're thinking of going with a slice of strings instead of map for the tags, which would let us use `append()` to add the dynamic data to the globally defined data when call

[2020-12-05 05:13] cmaf commented on #3093
@bporter816 Sorry, I'm not sure I understand what you're saying here so I may be missing your point, but for the nil ctx check you could just use
[code]
Do you mean set the tags for the spans? We should do this with `span.SetTag("key", "value")`.

Unfortunately there are a lot of inconsistencies in the span tags. It is ideal if we have a function that can handle varying input.

Yes, if you can't g

[2020-12-05 05:23] cmaf commented on #3093
Good catch. For truly unique cases you don't necessarily have to pass in the globally defined one at all.

If you have an odd number of strings I'm assuming it would end on a key rather than a value. You can add in an empty string as the value or something to indicate its not defined. This will help with debugging later.

[2020-12-05 05:26] bporter816 commented on #3093
@cmaf Sorry, didn't explain that very well. To use an example, qemu.go uses `q.Logger()` as the logger object that is called when ctx is nil. That logger object has this field set: https://github.com/kata-containers/runtime/blob/3f92a9c076f3e8e52ec1d54a0c7068f6c8d24e8a/virtcontainers/qemu.go#L154-L156
The tags used contain a similar but different key/value pair: https://github.com/kata-containers/

[2020-12-05 05:59] cmaf commented on #3093
@bporter816 there is some associated metadata with the logger. My thinking was that it would simplify the tracing code to use logrus, but others may disagree and want the metadata included. (any thoughts @amshinde @jodh-intel?) Hopefully we'll get more feedback on it in the PR.

You can write the function like you suggested (that takes a logger as an arg) , there is an argument for preserving that

[2020-12-05 20:41] bporter816 commented on #3093
Yeah, I think it would be a good simplification of the "trace called before context set" errors to just have one case for everywhere, but it would lose out on the subsystem or other metadata fields attached to the logger unless we pass the logger into `Trace()`.

[2020-12-06 03:51] bporter816 commented on #3093
@cmaf Another issue that came up is we realized that we didn't have a way to get the new context back out to the caller in the case that the context is attached to a struct and was nil. Something like https://github.com/kata-containers/runtime/blob/3f92a9c076f3e8e52ec1d54a0c7068f6c8d24e8a/virtcontainers/qemu.go#L219
won't actually set the context on the struct when the logic is completely in katau

[2020-12-06 04:16] bporter816 commented on #3093
@cmaf Another issue that came up is we realized that we didn't have a way to get the new context back out to the caller in the case that the context is attached to a struct and was nil. Something like https://github.com/kata-containers/runtime/blob/3f92a9c076f3e8e52ec1d54a0c7068f6c8d24e8a/virtcontainers/qemu.go#L219
won't actually set the context on the struct when the logic is completely in katau

[2020-12-07 07:45] cmaf commented on #3093
@bporter816 This is done so that a nil context can't be passed to `StartSpanFromContext()`, we shouldn't be setting the initial context for the struct in the trace function. I don't think that `GetContext()`, `SetContext()`, or `reflect` are necessary here.

If you think that using an interface simplifies tracing for users or developers adding more features to tracing or debugging it in the future